.filter {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 0.85rem;
}
.filter__section {
  margin-bottom: 1rem;
}
.filter__title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.filter__title--secondary {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #999999;
}
.filter__inputs--inline {
  display: flex;
}
.filter__col {
  margin-right: 0.3rem;
  flex: 1;
  display: flex;
}
.filter__input {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.2rem 0.7rem;
  line-height: 1.2rem;
  height: 1.9rem;
  -moz-appearance: textfield;
}
.filter__input::placeholder {
  font-weight: 700;
}
.filter__input::-webkit-outer-spin-button,
.filter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter__addon {
  height: 1.9rem;
  border: 1px solid #cccccc;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 0.3rem;
}
.filter__addon ~ .filter__input {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.filter__separator {
  margin-right: 0.3rem;
}
.filter__btn {
  background-color: rgba(0, 0, 0, 0);
  height: 1.9rem;
  border: 1px solid #cccccc;
  border-radius: 0.95rem;
  padding: 0 0.8rem;
}
.filter__multi {
  margin: 0.7rem 0;
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.filter__note {
  font-size: 0.75rem;
  padding: 1rem;
  color: #999999;
}
.products__header {
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.products__count {
  font-weight: 300;
}
.products__count > span {
  font-weight: 700;
}
.products__sorts {
  margin-left: auto;
}
.products__result {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 1rem;
}
.products__row {
  margin-bottom: 1rem;
}
.sorts {
  display: flex;
}
.sorts__label {
  margin-right: 0.5rem;
}
.sorts__all {
  position: relative;
}
.sorts__choose {
  position: absolute;
  top: calc(100% + 7px);
  right: 0;
  background-color: #e6e6e6;
  padding: 1rem 2rem;
  z-index: 1000;
  opacity: 0;
  transition: all ease 0.3s;
}
.sorts__choose:before {
  position: absolute;
  width: 7px;
  height: 7px;
  content: '';
  bottom: 100%;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #e6e6e6;
}
.sorts__item {
  display: block;
  white-space: nowrap;
}
.sorts__link {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}
.sorts__link:after {
  content: '\f107';
  font-family: 'Line Awesome Free';
  font-weight: 900;
  position: absolute;
  right: 0;
  transform: rotateX(0);
  transition: all ease 0.3s;
}
.sorts__link:hover:after {
  transform: rotateX(180deg);
}
.sorts__link:hover ~ .sorts__choose {
  opacity: 1;
}
/*# sourceMappingURL=category.child.css.map */