@import "lib";

.filter {
  background-color: #FFFFFF;
  border: 1px solid lighten(#000000, 90%);
  border-radius: 5px;
  padding: 1rem;
  font-family: @font-lato;
  font-size: .85rem;

  &__section {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1rem 0;

    &--secondary {
      font-size: .7rem;
      margin-bottom: .5rem;
      color: lighten(#000000, 60%);
    }
  }

  &__inputs {
    &--inline {
      display: flex;
    }
  }

  &__col {
    margin-right: .3rem;
    flex: 1;
    display: flex;
  }

  &__input {
    width: 100%;
    border: 1px solid lighten(#000000, 80%);
    border-radius: 4px;
    padding: .2rem .7rem;
    line-height: 1.2rem;
    height: 1.9rem;
    -moz-appearance: textfield;

    &::placeholder {
      font-weight: 700;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__addon {
    height: 1.9rem;
    border: 1px solid lighten(#000000, 80%);
    border-right: 0;
    border-radius: 4px 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 .3rem;
  }

  &__addon ~ &__input {
    border-left: 0;
    border-radius: 0 4px 4px 0;
  }

  &__separator {
    margin-right: .3rem;
  }

  &__btn {
    background-color: rgba(0, 0, 0, 0);
    height: 1.9rem;
    border: 1px solid lighten(#000000, 80%);
    border-radius: .95rem;
    padding: 0 .8rem;
  }

  &__multi {
    margin: .7rem 0;
    max-height: 250px;
    overflow-y: auto;
    // scroll bar for firefox
    scrollbar-width: thin;
  }

  &__note {
    font-size: .75rem;
    padding: 1rem;
    color: lighten(#000000, 60%);
  }
}

.products {

  &__header {
    display: flex;
    font-family: @font-poppins;
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  &__count {
    font-weight: 300;

    > span {
      font-weight: 700;
    }
  }

  &__sorts {
    margin-left: auto;
  }


  &__result {
    background-color: #FFFFFF;
    border: 1px solid lighten(#000000, 90%);
    border-radius: 5px;
    padding: 1rem;
  }

  &__row {
    margin-bottom: 1rem;
  }
}

.sorts {
  display: flex;

  &__label {
    margin-right: .5rem;
  }

  &__all {
    position: relative;
  }

  &__choose {
    @arrowWidth: 7px;
    @color: lighten(#000000, 90%);
    position: absolute;
    top: calc(100% + @arrowWidth);
    right: 0;
    background-color: @color;
    padding: 1rem 2rem;
    z-index: 1000;
    opacity: 0;
    transition: all ease .3s;

    &:before {
      position: absolute;
      width: @arrowWidth;
      height: @arrowWidth;
      content: '';
      bottom: 100%;
      left: 0;
      right: 0;
      margin: auto;
      border-left: @arrowWidth solid rgba(0, 0, 0, 0);
      border-right: @arrowWidth solid rgba(0, 0, 0, 0);
      border-bottom: @arrowWidth solid @color;
    }
  }

  &__item {
    display: block;
    white-space: nowrap;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-right: 1rem;

    &:after {
      content: '\f107';
      font-family: @fontLineAwesome;
      font-weight: 900;
      position: absolute;
      right: 0;
      transform: rotateX(0);
      transition: all ease .3s;
    }

    &:hover {
      &:after {
        transform: rotateX(180deg);
        //content: '\f106';
      }
    }
  }

  &__link:hover ~ &__choose {
    opacity: 1;
  }
}