.category-banner {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-bottom: 7px solid #fff200;
}
.category-banner > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}
.loading-category-filters {
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  background-image: url("../images/loading.gif");
  background-position: center -100px;
  background-size: auto 150%;
  background-repeat: no-repeat;
  display: none;
}
.category-container {
  width: 100%;
  background-color: #fafafa;
  position: relative;
  padding-top: 10px;
  padding-bottom: 40px;
}
.category-dir {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 13px;
}
.category-dir > li {
  position: relative;
  padding-right: 20px;
}
.category-dir > li:after {
  content: '\f054';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 700;
  position: absolute;
  color: #a4b0be;
  top: 2px;
  right: 7px;
  font-size: 10px;
}
.category-dir > li:last-child {
  font-weight: 500;
  font-size: 14px;
}
.category-dir > li:last-child:after {
  content: '';
}
.category-filter-section {
  border-bottom: 1px solid #dfe4ea;
  margin-bottom: 20px;
}
.category-filter-section > h3 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.category-filter-section > h3:after {
  content: '\f068';
  cursor: pointer;
  font-family: 'Font Awesome\ 5 Free';
  padding-left: 3px;
  padding-top: 3px;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}
.category-filter-section > .filters-options {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #34495e;
  font-weight: 500;
  max-height: 1000px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.category-filter-section > .filters-options input[type=checkbox] {
  margin-right: 6px;
}
.category-filter-section > .filters-options > .btn {
  margin-top: 15px;
  font-size: 14px;
}
.category-filter-section.expended > h3:after {
  content: '\f067';
}
.category-filter-section.expended > .filters-options {
  max-height: 0;
}
.price-range-inputs > .col {
  padding: 0;
}
.price-range-inputs > .col:first-child {
  padding-right: 5px;
  padding-left: 15px;
}
.price-range-inputs > .col:last-child {
  padding-left: 5px;
  padding-right: 15px;
}
.price-range-inputs > .col > label {
  font-size: 12px;
}
.price-range-inputs > .col > .form-control {
  height: 35px;
  outline: 0;
}
.price-range-inputs > .col > .form-control:focus {
  outline: 0;
  box-shadow: none;
}
#price_from,
#price_to {
  border-radius: 0;
}
.price-range {
  margin-top: 15px;
}
.slider.slider-horizontal {
  width: 90%;
  margin-left: 5%;
}
.slider.slider-horizontal .slider-track {
  height: 3px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider-track {
  background: #bdc3c7;
  box-shadow: none;
  border-radius: 0;
}
.slider-selection {
  background: #7f8c8d;
}
.slider-handle {
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  background: #34495e;
  box-shadow: none;
  border: 0 solid transparent;
}
.dir > li {
  font-family: 'Lato', sans-serif;
  margin-right: 10px;
  font-size: 16px;
}
.dir > li span {
  font-weight: 700;
}
.dir > li:after {
  content: '\f054';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 700;
}
.dir > li:last-child:after {
  content: '';
}
.category-result-header {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.category-result-header > span {
  font-weight: 700;
}
.category-list {
  border: 1px solid #dfe4ea;
  border-bottom: 0;
  margin-top: 20px;
  width: 100%;
}
.category-list > .row {
  border-bottom: 1px solid #dfe4ea;
  margin: 0;
}
.category-list > .row > [class^=col] {
  background-color: #ffffff;
  border-right: 1px solid #dfe4ea;
}
.category-list > .row > [class^=col]:nth-child(4) {
  border-right: 0;
}
.category-product {
  position: relative;
  height: 100%;
  padding-bottom: 100px;
}
.category-product > .product-img {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.category-product > .product-img > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-width: 100%;
  max-height: 80%;
}
.category-product > .product-text {
  font-family: 'Lato', sans-serif;
}
.category-product > .product-text > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #232f3e;
  font-weight: 500;
  height: 60px;
}
.category-product > .product-text > .product-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.category-product > .product-text > .product-footer .product-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #2c3e50;
  position: relative;
  white-space: nowrap;
}
.category-product > .product-text > .product-footer .product-price > .discount-wrapper {
  position: absolute;
  bottom: calc(100% + 3px);
  white-space: nowrap;
  font-size: 11px;
  color: #bdc3c7;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: line-through;
}
.category-product > .product-text > .product-footer .product-price > .discount-wrapper > span {
  position: absolute;
  left: calc(100% + 7px);
  background-color: rgba(56, 174, 4, 0.3);
  padding: 0 5px;
  color: #38ae04;
}
.category-product > .product-text > .product-footer > a.btn {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  border: 1px solid #0984e3;
  color: #0984e3;
  border-radius: 0;
}
.stars-outer {
  position: relative;
  display: inline-block;
  font-family: 'Font Awesome\ 5 Free';
  color: #2c3e50;
  z-index: 2;
}
.stars-outer:before {
  content: "\f005 \f005 \f005 \f005 \f005";
}
.stars-outer > .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}
.stars-outer > .stars-inner:before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-weight: 900;
  color: #fed330;
}
/*# sourceMappingURL=category.css.map */