.checkout-top-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-left: 0;
  display: flex;
  background-color: #ffffff;
}
.checkout-top-nav:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #bdc3c7;
  z-index: 1;
}
.checkout-top-nav > .checkout-logo {
  padding: 15px 15px 15px 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: relative;
}
.checkout-top-nav > .checkout-logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2ecc71;
  z-index: 2;
}
.checkout-top-nav > .checkout-logo > a {
  display: inline-block;
  width: 60%;
}
.checkout-top-nav > .checkout-logo > a > img {
  width: 100%;
}
.checkout-top-nav > .checkout-timeline > .row {
  height: 100%;
}
.checkout-top-nav > .checkout-timeline .checkout-step {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #bdc3c7;
  position: relative;
  padding-right: 0;
}
.checkout-top-nav > .checkout-timeline .checkout-step > .checkout-step-title {
  text-align: center;
  display: inline-block;
  height: 100%;
  padding-top: 10px;
  position: relative;
}
.checkout-top-nav > .checkout-timeline .checkout-step > .checkout-step-title > span.num {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-top: 7px;
  top: calc(100% - 25px);
  border: 2px solid #bdc3c7;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 700;
  background-color: #ffffff;
  position: absolute;
  z-index: 4;
}
.checkout-top-nav > .checkout-timeline .checkout-step.current,
.checkout-top-nav > .checkout-timeline .checkout-step.done {
  color: #2ecc71;
}
.checkout-top-nav > .checkout-timeline .checkout-step.current:after,
.checkout-top-nav > .checkout-timeline .checkout-step.done:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2ecc71;
  z-index: 2;
}
.checkout-top-nav > .checkout-timeline .checkout-step.current > .checkout-step-title:after,
.checkout-top-nav > .checkout-timeline .checkout-step.done > .checkout-step-title:after {
  content: '';
  height: 4px;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #bdc3c7;
  z-index: 3;
}
.checkout-top-nav > .checkout-timeline .checkout-step.current > .checkout-step-title > span.num,
.checkout-top-nav > .checkout-timeline .checkout-step.done > .checkout-step-title > span.num {
  border-color: #2ecc71;
}
.checkout-top-nav > .checkout-timeline .checkout-step.done > .checkout-step-title > span.num {
  background-color: #2ecc71;
  color: #ffffff;
}
.user-auth {
  text-align: right;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #7f8c8d;
}
.checkout-container {
  margin-top: 25px;
  width: 80%;
}
.checkout-details-wrapper > a.add-location {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  font-size: 16px;
}
.checkout-details-wrapper > .location-form {
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
  transition: ease all 0.3s;
}
.checkout-details-wrapper > .location-form.active {
  max-height: 1000px;
}
.checkout-details-wrapper > .location-form > form {
  padding: 15px;
  border: 1px solid #bdc3c7;
}
.checkout-details-wrapper > .location-form > form > button.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.shipping-address-wrapper {
  position: relative;
  margin-top: 20px;
}
.shipping-address-wrapper > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  font-weight: 700;
}
.shipping-address-wrapper > a.edit-address {
  position: absolute;
  right: 0;
  top: 0;
  color: #0984e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.shipping-address-wrapper > .shipping-address {
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  padding: 15px;
  font-family: 'Lato', sans-serif;
}
.shipping-address-wrapper > .shipping-address > span {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.shipping-address-wrapper > .shipping-address > p {
  margin-bottom: 0;
}
.shipping-address-wrapper > .shipping-address > .update-location-form {
  margin: 15px 0;
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  background-color: #ffffff;
  max-height: 0;
  transition: ease all 0.3s;
}
.shipping-address-wrapper > .shipping-address > .update-location-form.active {
  max-height: 1000px;
}
.shipping-address-wrapper > .shipping-address > .update-location-form > form {
  padding: 15px;
  border: 1px solid #bdc3c7;
}
.shipping-address-wrapper > .shipping-address > .update-location-form > form > button.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.checkout-cart-items {
  width: 100%;
  margin-top: 20px;
}
.checkout-cart-items > .cart-item-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.checkout-container .cart-total-wrapper {
  margin-top: 50px;
}
.right-cart-items-container {
  width: 100%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.right-cart-items-container > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.right-cart-items-container > a {
  position: absolute;
  top: 0;
  right: 0;
  color: #0984e3;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.right-cart-items-container > .right-cart-wrapper {
  border: 1px solid #ecf0f1;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper {
  width: 100%;
  max-height: 200px;
  padding: 7px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list::-webkit-scrollbar {
  width: 7px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list::-webkit-scrollbar-thumb {
  background-color: #7f8c8d;
  border-radius: 5px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list > .cart-list-item {
  margin-bottom: 20px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list > .cart-list-item .cart-item-img {
  width: 100%;
  overflow: hidden;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list > .cart-list-item .cart-item-img > img {
  width: 100%;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list > .cart-list-item h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-list-wrapper > .cart-list > .cart-list-item .cart-list-item-price {
  color: #0984e3;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.right-cart-items-container > .right-cart-wrapper > .cart-summary {
  background-color: #ecf0f1;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}
.right-cart-items-container > .right-cart-wrapper > .cart-summary > table {
  width: 100%;
  font-size: 15px;
}
.right-cart-items-container > .right-cart-wrapper > .cart-summary > table tr td:last-child {
  text-align: right;
}
.right-cart-items-container > .right-cart-wrapper > .cart-total {
  background-color: #bdc3c7;
  padding: 20px 10px;
  font-family: 'Lato', sans-serif;
}
.right-cart-items-container > .right-cart-wrapper > .cart-total > .row {
  font-size: 19px;
  font-weight: 700;
}
.right-cart-items-container > .right-cart-wrapper > .cart-total > .notes {
  font-size: 12px;
  margin-top: 10px;
}
.right-cart-items-container > .btn {
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.right-cart-items-container > .btn > img {
  display: none;
}
.right-cart-items-container > .btn.active {
  position: relative;
}
.right-cart-items-container > .btn.active > img {
  position: absolute;
  z-index: 2;
  width: 50px;
  left: 0;
  top: 0;
  display: block;
}
.payment-options {
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Lato', sans-serif;
}
.payment-options > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.payment-options .payment-options-wrapper {
  border: 1px solid #ecf0f1;
  border-bottom: 0;
}
.payment-options .payment-options-wrapper > .payment-header {
  padding: 12px;
  background-color: #ecf0f1;
  color: #2c3e50;
  border-bottom: 1px solid #bdc3c7;
}
.payment-options .payment-options-wrapper > .payment-header > span.total {
  color: #0984e3;
  font-weight: 700;
}
.payment-options .payment-options-wrapper > .payment-method {
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #bdc3c7;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-symbols {
  position: absolute;
  top: 15px;
  right: 15px;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-symbols > img {
  height: 16px;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-symbols > img.paypal {
  height: 24px;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-form {
  border: 1px solid #bdc3c7;
  padding: 15px;
  margin: 10px;
  color: #7f8c8d;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-form .form-control {
  border-radius: 0;
  height: 35px;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-form label {
  margin-bottom: 0;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-form .input-group > .form-control {
  margin-right: 15px;
}
.payment-options .payment-options-wrapper > .payment-method > .credit-form .input-group-addon > img {
  height: 35px;
  margin-right: 25px;
}
.success-checkout {
  width: 90%;
  margin: 60px auto;
}
.success-checkout > h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.success-checkout > .checkout-success-details {
  padding: 0 20px;
  margin-top: 20px;
  border: 1px solid #bdc3c7;
}
.success-checkout > .checkout-success-details > .checkout-success-details-header {
  border-bottom: 1px solid #bdc3c7;
  padding: 10px;
}
.success-checkout > .checkout-success-details > .checkout-success-details-header > h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.success-checkout > .checkout-success-details > .checkout-success-details-body .img-wrapper {
  overflow: hidden;
}
.success-checkout > .checkout-success-details > .checkout-success-details-body .img-wrapper > img {
  width: 100%;
}
.success-checkout > .checkout-success-details > .checkout-success-details-body .details-wrapper {
  padding: 80px 20px;
  font-family: 'Roboto', sans-serif;
}
.success-checkout > .checkout-success-details > .checkout-success-details-body .details-wrapper > table {
  width: 100%;
}
.success-checkout > .checkout-success-details > .checkout-success-details-body .details-wrapper > table tr td:first-child {
  padding-right: 20px;
  font-weight: 700;
}
/*# sourceMappingURL=checkout.css.map */