@left-nav: 28%;
@search-nav: 47%;
@side-menu-width: 25%;
@side-menu-width-mob: 45%;
// colors
@color-clouds: #ecf0f1;
@color-silver: #bdc3c7;
@color-midnight-blue: #2c3e50;
@color-wet-asphalt: #34495e;
@color-logo-1: #93007b;
@color-logo-2: #e1005c;
@color-yellow: #fff200;
@color-orange: #f39c12;
@color-asbestos: #7f8c8d;
@color-american-river: #636e72;
@color-city-light: #dfe4ea;
@color-electron-blue: #0984e3;
@color-green: rgba(56, 174, 4, .3);
@discount-color: @color-green;
@discount-font-color: rgba(56, 174, 4, 1);
@colorPomeGrante: #c0392b;

@color-footer: #232f3e;
@bodyColorPrimary: darken(#ffffff, 5%);
// Fonts
@font-fontAwesome: 'Font Awesome\ 5 Free';
@fontLineAwesome: 'Line Awesome Free';
@font-Mallanna: 'Mallanna', sans-serif;
@font-Roboto: 'Roboto', sans-serif;
@font-Raleway: 'Raleway', sans-serif;
@font-lato: 'Lato', sans-serif;
@font-poppins: 'Poppins', sans-serif;
@fontTajawal: 'Tajawal', sans-serif;
// media vars
//@max-1190: ~"screen and (max-width:1190px)";
//@max-1200-min-1020: ~"screen and (max-width: 1200px) and (min-width: 1020px)";
@max-1220-min-767: ~"screen and (max-width: 1220px) and (min-width: 767px)";
@max-767: ~"screen and (max-width:767px)";
// mixIns
.topArrow(@width,@color) {
  content: '';
  position: absolute;
  bottom: 100%;
  width: @width;
  height: @width;
  left: 0;
  right: 0;
  margin: auto;
  border-left: @width solid rgba(0,0,0,0);
  border-right: @width solid rgba(0,0,0,0);
  border-bottom: @width solid @color;
}

.aspect-ration-wrapper(@width,@height) {
  position: relative;
  overflow: hidden;
  height: @height;
  width: @width;
}

.aspect-ration() {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

//.max-1200-min1020(){
//@media screen and (max-width: 1200px) and (min-width: 1020px);
//}