@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900,900i');
html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}
.container {
  width: calc(96% + 5px);
  max-width: inherit;
}
.body-wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.body-wrapper > .side-menu {
  width: 25%;
  position: fixed;
  left: -25%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
  background-color: #000000;
  transition: all ease 0.3s;
}
@media screen and (max-width:767px) {
  .body-wrapper > .side-menu {
    width: 45%;
    left: -45%;
  }
}
.body-wrapper > .side-menu::-webkit-scrollbar {
  width: 5px;
}
.body-wrapper > .side-menu::-webkit-scrollbar-track {
  background-color: #000000;
}
.body-wrapper > .content-wrapper {
  width: 100%;
  position: relative;
  left: 0;
  transition: all ease 0.3s;
  padding-top: 16vh;
}
@media screen and (max-width:767px) {
  .body-wrapper > .content-wrapper {
    padding-top: 1vh;
  }
}
.body-wrapper.lunched > .side-menu {
  left: 0;
}
.body-wrapper.lunched > .content-wrapper {
  left: 25%;
}
@media screen and (max-width:767px) {
  .body-wrapper.lunched > .content-wrapper {
    left: 45%;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #fff200;
}
.top-nav {
  background-color: #fff200;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.2vmin;
}
.top-nav .left-nav {
  padding-right: 0;
  padding-top: 7px;
}
@media screen and (max-width: 1220px) and (min-width: 767px) {
  .top-nav .left-nav {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
.top-nav .left-nav > .nav > .nav-item {
  padding-top: 5px;
  padding-right: 10px;
}
.top-nav .left-nav > .nav > .nav-item > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.top-nav .search-nav {
  position: relative;
  padding: 5px 0 5px 25px;
}
@media screen and (max-width: 1220px) and (min-width: 767px) {
  .top-nav .search-nav {
    flex: 0 0 34%;
    max-width: 34%;
  }
}
.top-nav .search-nav > .form-control {
  border-radius: 0;
  border: none;
}
.top-nav .search-nav > button {
  position: absolute;
  border: none;
  padding: 0;
  right: 10px;
  top: 2px;
  font-size: 23px;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 1220px) and (min-width: 767px) {
  .top-nav .right-nav {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
.top-nav .right-nav li.nav-item {
  position: relative;
  display: flex;
}
.top-nav .right-nav li.nav-item > a {
  color: inherit;
  display: block;
  position: relative;
  padding: 1.6vh 15px;
  text-decoration: none;
}
.top-nav .right-nav li.nav-item > a.customer-name {
  font-weight: 400;
}
.top-nav .right-nav li.nav-item > a > .ion-md-arrow-dropdown {
  position: absolute;
  left: calc(100% - 10px);
  font-size: 3vmin;
  top: 8px;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  right: 0;
  padding: 15px 30px;
  border: 1px solid #bdc3c7;
  border-top: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 100%;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-languages > a {
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 16px;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-languages > a > img {
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-sign-in {
  text-align: center;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-sign-in > a {
  white-space: nowrap;
  color: #0984e3;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-sign-in > a.btn {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 5px 50px;
}
.top-nav .right-nav li.nav-item > .drop-down-wrapper.top-sign-in > span {
  white-space: nowrap;
  font-size: 11px;
}
.top-nav .right-nav li.nav-item.active {
  background-color: #ffffff;
}
.top-nav .right-nav li.nav-item.active > .drop-down-wrapper {
  display: block;
}
.top-nav .right-nav li.shopping-cart {
  position: relative;
  top: -3px;
}
.top-nav .right-nav li.shopping-cart > a > .cart-badge {
  display: inline-block;
  color: #3498db;
  font-size: 2.9vmin;
}
.top-nav .right-nav li.shopping-cart > a > span {
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
}
.top-nav .right-nav li.shopping-cart > a > span.number {
  color: #e74c3c;
  font-weight: 700;
}
@media screen and (max-width:767px) {
  .top-nav {
    display: none;
  }
}
.banner {
  width: 100%;
  height: 600px;
}
.banner .carousel-control-next,
.banner .carousel-control-prev {
  top: calc(50% - 22vh);
  bottom: inherit;
}
@media screen and (max-width:767px) {
  .banner {
    margin-top: 8vh;
    height: auto;
    background-color: black;
    overflow: hidden;
  }
  .banner .carousel-control-next,
  .banner .carousel-control-prev {
    top: -8vh;
  }
}
.insider-container {
  width: 100%;
  background-color: #ecf0f1;
  padding-bottom: 50px;
  padding-top: 30px;
}
.welcome-container {
  width: 100%;
  background-color: #ecf0f1;
  position: relative;
  padding-bottom: 50px;
}
.welcome-container:before {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #ecf0f1;
  background: linear-gradient(0deg, #ecf0f1 25%, rgba(0, 0, 0, 0) 81%);
  content: '';
}
@media screen and (max-width:767px) {
  .welcome-container:before {
    height: 10vh;
  }
}
.welcome-container > .container {
  position: relative;
}
.upper-wrapper {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}
@media screen and (max-width:767px) {
  .upper-wrapper {
    position: relative;
    bottom: inherit;
    top: -12vh;
    margin-bottom: -18vh;
  }
}
.upper-wrapper > .row {
  margin-bottom: 15px;
}
@media screen and (max-width:767px) {
  .upper-wrapper > .row:first-child {
    margin-bottom: 0;
  }
}
.upper-wrapper .welcome-upper-ref {
  background-color: #ecf0f1;
  padding: 10px;
  display: flex;
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref {
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  white-space: nowrap;
}
.upper-wrapper .welcome-upper-ref > .ref-part:after {
  position: absolute;
  left: 100%;
  top: 0;
  width: 1px;
  height: 100%;
  content: '';
  background-color: #bdc3c7;
}
.upper-wrapper .welcome-upper-ref > .ref-part:last-child:after {
  display: none;
}
@media screen and (max-width: 1220px) and (min-width: 767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part {
    display: none;
  }
  .upper-wrapper .welcome-upper-ref > .ref-part:first-child {
    display: block;
    width: 100%;
    text-align: center;
  }
  .upper-wrapper .welcome-upper-ref > .ref-part:first-child:after {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part:nth-child(3) {
    display: none;
  }
  .upper-wrapper .welcome-upper-ref > .ref-part:nth-child(2):after {
    display: none;
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title {
  display: inline-block;
  text-align: right;
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title > span {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.7vmin;
  line-height: 13px;
  text-transform: uppercase;
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title > span {
    font-size: 3.1vmin;
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title > span:first-child {
  color: #e1005c;
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title > span:first-child {
    line-height: 10px;
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-title > span:last-child {
  color: #93007b;
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-icon {
  display: inline-block;
  position: relative;
  top: -5px;
}
.upper-wrapper .welcome-upper-ref > .ref-part > .ref-part-icon > i {
  font-size: 2.8vmin;
}
.upper-wrapper .welcome-upper-ref > .ref-part > h3 {
  font-size: 2.2vmin;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #781f74;
  line-height: 10px;
}
.upper-wrapper .welcome-upper-ref > .ref-part > h3:nth-child(2) {
  line-height: 21px;
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part > h3 {
    font-size: 3.1vmin;
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part > p {
  margin: 0;
  font-size: 13px;
  color: #2c3e50;
}
@media screen and (max-width:767px) {
  .upper-wrapper .welcome-upper-ref > .ref-part > p {
    line-height: 24px;
    font-size: 15px;
  }
}
.upper-wrapper .welcome-upper-ref > .ref-part > p.single-line {
  font-size: 15px;
}
.upper-wrapper .upper-item {
  position: relative;
  overflow: hidden;
  height: 230px;
  width: 100%;
}
@media screen and (max-width:767px) {
  .upper-wrapper .upper-item {
    margin-bottom: 20px;
    height: 28vh;
  }
}
.upper-wrapper .upper-item img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
  height: auto;
}
@media screen and (max-width:767px) {
  .upper-wrapper .upper-item img {
    min-height: 100%;
  }
}
.products-list-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.products-list-wrapper > .list-control-prev,
.products-list-wrapper .list-control-next {
  position: absolute;
  top: 35%;
  background-color: #ffffff;
  border: 1px solid #bdc3c7;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 10px;
  z-index: 1000;
  opacity: 0.2;
  transition: all ease 0.3s;
}
@media screen and (max-width:767px) {
  .products-list-wrapper > .list-control-prev,
  .products-list-wrapper .list-control-next {
    display: none;
  }
}
.products-list-wrapper:hover > .list-control-prev,
.products-list-wrapper:hover > .list-control-next {
  opacity: 1;
}
.products-list-wrapper:hover > .list-control-prev.unavailable,
.products-list-wrapper:hover > .list-control-next.unavailable {
  opacity: 0.2;
}
.products-list-wrapper > .list-control-prev {
  left: 5px;
  border-left: 0;
}
.products-list-wrapper > .list-control-next {
  right: 5px;
  border-right: 0;
}
.products-list-wrapper > .list-control-prev.unavailable,
.products-list-wrapper .list-control-next.unavailable {
  opacity: 0.2;
  pointer-events: none;
}
.products-list-wrapper > .product-list-row {
  width: 100%;
  overflow-x: scroll;
  position: relative;
}
.products-list-wrapper > .product-list-row > .row {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width:767px) {
  .products-list-wrapper > .product-list-row > .row {
    flex-wrap: wrap;
  }
}
.products-list-wrapper > .product-list-row::-webkit-scrollbar {
  display: none;
}
.info-holder {
  background-color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  height: 240px;
  width: 100%;
}
@media screen and (max-width:767px) {
  .info-holder {
    background-color: #e67e22;
    height: 100px;
  }
}
.info-holder > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width:767px) {
  .info-holder > img {
    height: 100%;
    width: auto;
    min-width: 100%;
  }
}
.category-holder {
  background-color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 100%;
}
@media screen and (max-width:767px) {
  .category-holder {
    height: 9vh;
  }
}
.category-holder img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width:767px) {
  .category-holder img {
    height: 100%;
    width: auto;
    min-width: 100%;
  }
}
.languages > h2 {
  font-family: 'Poppins', sans-serif;
  color: #ecf0f1;
  font-size: 17px;
  margin: 10px;
}
.languages .nav-item > a {
  display: inline-block;
  padding: 5px;
}
.languages .nav-item > a > img {
  border: 1px solid #ecf0f1;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */