@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');
a {
  text-decoration: none !important;
}
.body-row {
  margin: 0 -15px;
}
.content-insider {
  padding: 1rem 0;
  background-color: #f2f2f2;
}
.ic {
  position: relative;
  height: 16px;
  display: inline-block;
}
.ic--verified {
  width: 42px;
  background-image: url("../images/__design/verified.svg");
  background-repeat: no-repeat;
  background-size: 42px;
  background-position-y: center;
}
.ic--trade-assurance {
  width: 16px;
  background-position-x: 100%;
  background-position-y: 33.3333%;
  background-image: url("../images/__design/sprite.svg");
  background-size: 80px;
}
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.checkbox__input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 0;
  height: 0;
}
.checkbox__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  margin-right: 0.5rem;
}
.checkbox__input:checked ~ .checkbox__mark {
  background-color: #f39c12;
  border: 1px solid #f5b043;
}
.checkbox__input:checked ~ .checkbox__mark:after {
  content: '\f00c';
  font-family: 'Line Awesome Free';
  color: #FFFFFF;
  font-weight: 900;
}
.checkbox__txt {
  display: flex;
  align-items: center;
  font-family: inherit;
}
.checkbox__txt > i {
  margin-right: 0.2rem;
}
.checkbox__img {
  overflow: hidden;
}
.checkbox__img--flag {
  width: 25px;
  height: 18px;
  margin-right: 0.5rem;
}
.checkbox__img--flag > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.checkbox__img--logo {
  width: 30px;
  height: 25px;
  margin-right: 0.3rem;
}
.checkbox__img--logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkbox__amount {
  color: #999999;
  font-style: italic;
  margin-left: 0.1rem;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.wrapper__sidebar {
  width: 35%;
  position: fixed;
  left: -35%;
  height: 100%;
  overflow-y: hidden;
  background-color: #1a1a1a;
  transition: all ease 0.3s;
}
.wrapper__sidebar--active {
  left: 0;
}
.wrapper__container {
  width: 100%;
  transition: all ease 0.3s;
  padding-top: 26vh;
  margin-left: 0;
  position: relative;
}
.wrapper--toggle .wrapper__sidebar {
  left: 0;
}
.wrapper--toggle .wrapper__container {
  margin-left: 35%;
}
.sidebar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #b3b3b3 #333333;
  scrollbar-width: thin;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: #333333;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #333333;
}
.sidebar__item {
  display: block;
  background-color: #333333;
  margin: 1px 0;
  transition: background-color ease 0.2s;
}
.sidebar__item:hover {
  background-color: #ffffff;
}
.sidebar__item:hover > a {
  color: #f39c12;
}
.sidebar__link {
  font-family: 'Mallanna', sans-serif;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 3rem 0.5rem 1rem;
  position: relative;
  color: #b3b3b3;
}
.sidebar__link > .sidebar__link__arrow {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: left ease 0.3s;
}
.c-header--moving {
  left: 35%;
}
.c-header__topnav {
  position: relative;
  z-index: 1;
}
.c-header__topnav::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: linear-gradient(90deg, #666666, #1a1a1a, #666666);
  z-index: 2;
}
.c-header__mainnav {
  background-color: #FFFFFF;
  padding: 0.5rem 0;
}
.c-header__linknav {
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.l-toplist {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  position: relative;
  z-index: 3;
}
.l-toplist__list {
  display: flex;
}
.l-toplist__list--right {
  margin-left: auto;
}
.l-toplist__item > a {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.5rem;
  line-height: 1.3rem;
}
.l-toplist__item > a > i {
  font-size: 1.3rem;
  margin-right: 0.1rem;
}
.middlenav {
  display: flex;
}
.middlenav__logo {
  margin-right: 1rem;
}
.middlenav__logo img {
  height: 60px;
}
.middlenav__search {
  display: flex;
  align-items: center;
}
.middlenav__links {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.middlenav__list {
  display: flex;
}
.middlenav__item {
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.middlenav__item:first-child:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0.2rem;
  bottom: 0.2rem;
  width: 1px;
  background-color: #cccccc;
}
.middlenav__item > a {
  color: #808080;
  padding: 0 0.5rem;
}
.middlenav__item > a > i {
  font-size: 1.2rem;
}
.middlenav__item--arabic {
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.search {
  background-color: #f39c12;
  border-radius: 22px;
  padding: 1px;
}
.search__box {
  display: flex;
  position: relative;
  border-radius: 22px;
  z-index: 5;
}
.search__element {
  border: 0;
  height: 44px;
  position: relative;
}
.search__element--selector {
  border: 1px solid #cccccc;
  border-left: 0;
  border-radius: 22px;
  display: flex;
  width: auto;
  z-index: 3;
}
.search__element--input {
  width: 600px;
  padding: 0 1rem 0 calc(1rem + 22px);
  font-family: 'Poppins', sans-serif;
  z-index: 2;
  border-radius: 0 22px 22px 0;
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  border-left: 0;
  margin-left: -22px;
}
.search__element--btn {
  background-color: #f5b043;
  border-radius: 0 22px 22px 0;
  z-index: 1;
  margin-left: -22px;
  padding: 0 0.7rem 0 calc(0.5rem + 22px);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #4f3204;
}
.search__element--btn > i {
  font-size: 1.2rem;
}
.nav {
  padding: 0.5rem 0;
}
.nav__list {
  display: flex;
}
.nav__item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: relative;
}
.nav__item::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0.3rem;
  bottom: 0.3rem;
  width: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #999999, rgba(0, 0, 0, 0));
}
.nav__item > a {
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
}
.nav__item > a > span {
  font-weight: 700;
  margin-left: 0.2rem;
}
.hamburger {
  width: 28px;
  height: 28px;
  position: relative;
  margin-left: 0.5rem;
}
.hamburger__line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #f39c12;
  transform: translate(0%, 0%);
  transition: 0.5s;
}
.hamburger__line:after,
.hamburger__line:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #f39c12;
  transform: translate(0%, 0%);
  transition: 0.5s;
}
.hamburger__line:after {
  top: -6px;
}
.hamburger__line:before {
  top: 6px;
}
.hamburger--active .hamburger__line {
  background: rgba(0, 0, 0, 0);
}
.hamburger--active .hamburger__line:after {
  top: 0;
  transform: rotate(135deg);
}
.hamburger--active .hamburger__line:before {
  top: 0;
  transform: rotate(45deg);
}
.footer {
  background-color: #232f3e;
  padding-top: 3rem;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
.footer__links {
  display: flex;
}
.footer__col {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 0.5rem;
}
.footer__title {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 1rem 0;
  color: #9aaec6;
}
.footer__list {
  margin: 0;
  list-style: none;
}
.footer__item {
  font-family: 'Lato', sans-serif;
}
.footer__item > a:hover {
  color: #FFFFFF;
  text-decoration: underline !important;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
.footer__logo > a > img {
  width: 170px;
  height: auto;
}
.footer__socials {
  font-size: 1.5rem;
  padding-left: 3rem;
}
.footer__bottom {
  width: 80%;
  margin: 2rem auto 0 auto;
  padding: 2rem 0;
  border-top: 1px solid #48607f;
  text-align: center;
  font-size: 0.75rem;
}
.scrollable {
  margin-top: 2rem;
  position: relative;
}
.scrollable__control {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  cursor: not-allowed;
  background-color: #dddddd;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}
.scrollable__control--next {
  right: 0;
}
.scrollable__control--active {
  opacity: 1;
  cursor: pointer;
}
.scrollable__container {
  flex: 1;
}
.scrollable__wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 0.5rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.scrollable__wrapper::-webkit-scrollbar {
  display: none;
}
.scrollable__item {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 0.5rem;
}
.product-item {
  width: 100%;
  border: 1px solid #f2f2f2;
}
.product-item__image {
  width: 100%;
  height: 170px;
}
.product-item__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-item__txt {
  padding: 1rem;
  font-family: 'Lato', sans-serif;
}
.product-item__title {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  height: 3rem;
  margin: 1rem 0 2rem 0;
  overflow: hidden;
}
.product-item__price {
  font-size: 0.8rem;
  color: #999999;
}
.product-item__price > span {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #333333;
  padding: 0 0.3rem;
}
.product-item__quantity {
  font-size: 0.8rem;
  color: #666666;
}
.product-item__quantity > span {
  display: inline-block;
  padding: 0 0.2rem;
  color: #333333;
  font-weight: 700;
}
.product-item__btn {
  margin-top: 1rem;
  width: 100%;
  height: 20px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/test/noon-express-en.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.box {
  padding: 1rem;
  margin: 1rem -15px;
  font-family: 'Poppins', sans-serif;
}
.box--white {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
}
.box__header {
  position: relative;
}
.box__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.box__body {
  padding: 0;
}
/*# sourceMappingURL=main.alternative.css.map */