@import (css) url('https://fonts.googleapis.com/css?family=Mallanna');
@import (css) url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import (css) url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i,900,900i');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import (css) url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900,900i');
@import (css) url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');
@import "lib";

a {
  text-decoration: none !important;
}

.body-row {
  margin: 0 -15px;
}

.content-insider {
  padding: 1rem 0;
  background-color: @bodyColorPrimary;
}

.ic {
  position: relative;
  height: 16px;
  display: inline-block;

  &--verified {
    width: 42px;
    background-image: url("../images/__design/verified.svg");
    background-repeat: no-repeat;
    background-size: 42px;
    background-position-y: center;
  }

  &--trade-assurance {
    width: 16px;
    background-position-x: 100%;
    background-position-y: 33.3333%;
    background-image: url("../images/__design/sprite.svg");
    background-size: 80px;
  }
}

.checkbox {

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  &__input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
  }

  &__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
    border: 1px solid lighten(#000000, 70%);
    border-radius: 3px;
    margin-right: .5rem;

  }

  &__input:checked ~ &__mark {
    background-color: @color-orange;
    border: 1px solid lighten(@color-orange, 10%);

    &:after {
      content: '\f00c';
      font-family: @fontLineAwesome;
      color: #FFFFFF;
      font-weight: 900;
    }
  }

  &__txt {
    display: flex;
    align-items: center;
    font-family: inherit;

    > i {
      margin-right: .2rem;
    }
  }

  &__img {
    overflow: hidden;


    &--flag {
      width: 25px;
      height: 18px;
      margin-right: .5rem;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--logo {
      width: 30px;
      height: 25px;
      margin-right: .3rem;
      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__amount {
    color: lighten(#000000, 60%);
    font-style: italic;
    margin-left: .1rem;
  }
}

@sideMenuWidth: 35%;
// main body wrapper
.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;

  &__sidebar {
    width: @sideMenuWidth;
    position: fixed;
    left: -@sideMenuWidth;
    height: 100%;
    overflow-y: hidden;
    background-color: lighten(#000000, 10%);
    transition: all ease .3s;

    &--active {
      left: 0;
    }
  }

  &__container {
    width: 100%;
    transition: all ease .3s;
    padding-top: 26vh;
    margin-left: 0;
    position: relative;
  }

  &--toggle &__sidebar {
    left: 0;
  }

  &--toggle &__container {
    margin-left: @sideMenuWidth;
  }
}

// side navigation hidden
.sidebar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: lighten(#000000, 70%) lighten(#000000, 20%);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: lighten(#000000, 20%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten(#000000, 20%);
  }

  &__list {

  }

  &__item {
    display: block;
    background-color: lighten(#000000, 20%);
    margin: 1px 0;
    transition: background-color ease .2s;

    &:hover {
      background-color: #ffffff;

      > a {
        color: @color-orange;
      }
    }
  }

  &__link {
    font-family: @font-Mallanna;
    font-size: 1rem;
    display: block;
    padding: .5rem 3rem .5rem 1rem;
    position: relative;
    color: lighten(#000000, 70%);

    & > &__arrow {
      position: absolute;
      right: 1rem;
      top: .5rem;
    }

  }
}

// header component
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: left ease .3s;

  &--moving {
    left: @sideMenuWidth;
  }

  &__topnav {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      background-image: linear-gradient(90deg, lighten(#000000, 40%), lighten(#000000, 10%), lighten(#000000, 40%));
      z-index: 2;
    }
  }

  &__mainnav {
    background-color: #FFFFFF;
    padding: .5rem 0;
  }

  &__linknav {
    background-color: lighten(#000000, 95%);
    border-top: 1px solid lighten(#000000, 90%);
    border-bottom: 1px solid lighten(#000000, 90%);
  }
}

.l-toplist {
  display: flex;
  font-family: @font-poppins;
  font-weight: 400;
  font-size: .8rem;
  position: relative;
  z-index: 3;

  &__list {
    display: flex;

    &--right {
      margin-left: auto;
    }
  }

  &__item {
    > a {
      color: lighten(#000000, 95%);
      display: flex;
      align-items: center;
      padding: .4rem .5rem;
      line-height: 1.3rem;

      > i {
        font-size: 1.3rem;
        margin-right: .1rem;
      }
    }
  }
}

// middle header navigation
.middlenav {
  display: flex;

  &__logo {
    margin-right: 1rem;

    & img {
      height: 60px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__links {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    font-size: .8rem;
    font-family: @font-lato;
    position: relative;

    &:first-child:after {
      content: '';
      position: absolute;
      right: 0;
      top: .2rem;
      bottom: .2rem;
      width: 1px;
      background-color: lighten(#000000, 80%);
    }

    > a {
      color: lighten(#000000, 50%);
      padding: 0 .5rem;

      > i {
        font-size: 1.2rem;
      }
    }

    &--arabic {
      font-family: @fontTajawal;
      font-weight: 500;
      font-size: .9rem;
    }
  }
}

// header search
.search {
  @elementHeight: 44px;
  @elementRadius: @elementHeight/2;
  background-color: @color-orange;
  border-radius: @elementRadius;
  padding: 1px;
  //display: flex;
  //align-items: center;
  &__box {
    display: flex;
    //border: 1px solid @color-orange;
    position: relative;
    border-radius: @elementRadius;
    z-index: 5;
  }

  &__element {
    border: 0;
    height: @elementHeight;
    position: relative;

    &--selector {
      border: 1px solid lighten(#000000, 80%);
      border-left: 0;
      border-radius: @elementRadius;
      display: flex;
      width: auto;
      z-index: 3;
    }

    &--input {
      width: 600px;
      padding: 0 1rem 0 calc(1rem + @elementRadius);
      font-family: @font-poppins;
      z-index: 2;
      border-radius: 0 @elementRadius @elementRadius 0;
      background-color: #FFFFFF;
      border: 1px solid #dddddd;
      border-left: 0;
      margin-left: -@elementRadius;
    }

    &--btn {
      background-color: lighten(@color-orange, 10%);
      border-radius: 0 @elementRadius @elementRadius 0;
      z-index: 1;
      margin-left: -@elementRadius;
      padding: 0 .7rem 0 calc(.5rem + @elementRadius);
      font-family: @font-lato;
      font-weight: 700;
      font-size: 1rem;
      color: darken(@color-orange, 35%);

      > i {
        font-size: 1.2rem;
      }
    }
  }
}

// navigation menu
.nav {
  padding: .5rem 0;

  &__list {
    display: flex;
  }

  &__item {
    font-family: @font-lato;
    font-weight: 300;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: .3rem;
      bottom: .3rem;
      width: 1px;
      //background-color: lighten(#000000, 80%);
      background-image: linear-gradient(rgba(0, 0, 0, 0), lighten(#000000, 60%), rgba(0, 0, 0, 0));
    }

    > a {
      padding: .2rem .5rem;
      display: flex;
      align-items: center;

      > span {
        font-weight: 700;
        margin-left: .2rem;
      }
    }
  }
}

// hamburger icon
.hamburger {
  width: 28px;
  height: 28px;
  position: relative;
  margin-left: .5rem;

  &__line {
    @iconWidth: 20px;
    @iconColor: @color-orange;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: @iconWidth;
    height: 2px;
    background-color: @iconColor;
    transform: translate(0%, 0%);
    transition: .5s;

    &:after, &:before {
      content: '';
      position: absolute;
      width: @iconWidth;
      height: 2px;
      background: @iconColor;
      transform: translate(0%, 0%);
      transition: .5s;
    }

    &:after {
      top: -6px;
    }

    &:before {
      top: 6px;
    }
  }

  &--active &__line {
    background: rgba(0, 0, 0, 0);

    &:after {
      top: 0;
      transform: rotate(135deg);
    }

    &:before {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

// footer
.footer {
  background-color: @color-footer;
  padding-top: 3rem;
  color: #ffffff;
  font-family: @font-lato;
  font-size: 13px;

  &__links {
    display: flex;
  }

  &__col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 .5rem;
  }

  &__title {
    font-size: 1.1rem;
    font-family: @font-poppins;
    margin: 0 0 1rem 0;
    color: lighten(@color-footer, 50%);
  }

  &__list {
    margin: 0;
    list-style: none;
  }

  &__item {
    font-family: @font-lato;

    > a {
      &:hover {
        color: #FFFFFF;
        text-decoration: underline !important;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

    > a {

      > img {
        width: 170px;
        height: auto;
      }
    }
  }

  &__socials {
    font-size: 1.5rem;
    padding-left: 3rem;
  }

  &__bottom {
    width: 80%;
    margin: 2rem auto 0 auto;
    padding: 2rem 0;
    border-top: 1px solid lighten(@color-footer, 20%);
    text-align: center;
    font-size: .75rem;
  }
}

// scrollable
.scrollable {
  @item-width: 20%;
  @spacing-between: .5rem;
  margin-top: 2rem;
  //display: flex;
  //align-items: center;
  position: relative;

  &__control {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .1;
    cursor: not-allowed;
    background-color: #dddddd;
    color: rgba(0, 0, 0, .7);
    font-size: 2rem;

    &--next {
      right: 0;
    }

    &--active {
      opacity: 1;
      cursor: pointer;
    }

  }

  &__container {
    flex: 1;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 @spacing-between;
    scroll-behavior: smooth;
    // for firefox
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 0 0 @item-width;
    max-width: @item-width;
    padding: 0 @spacing-between;
  }
}

// product box
.product-item {
  width: 100%;
  border: 1px solid darken(#ffffff, 5%);

  &__image {
    width: 100%;
    height: 170px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__txt {
    padding: 1rem;
    font-family: @font-lato;
  }

  &__title {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 3rem;
    margin: 1rem 0 2rem 0;
    overflow: hidden;
  }

  &__price {
    font-size: .8rem;
    color: lighten(#000000, 60%);
    //display: flex;
    //align-items: center;

    > span {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 700;
      color: lighten(#000000, 20%);
      padding: 0 .3rem;
    }
  }

  &__quantity {
    font-size: .8rem;
    color: lighten(#000000, 40%);

    > span {
      display: inline-block;
      padding: 0 .2rem;
      color: lighten(#000000, 20%);
      font-weight: 700;
    }
  }

  &__btn {
    margin-top: 1rem;
    width: 100%;
    height: 20px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/test/noon-express-en.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

// box
.box {
  padding: 1rem;
  margin: 1rem -15px;
  font-family: @font-poppins;

  &--white {
    background-color: #FFFFFF;
    border: 1px solid darken(#ffffff, 10%);
  }

  &__header {
    position: relative;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  &__body {
    padding: 0;
  }
}
