@import (css) url('https://fonts.googleapis.com/css?family=Mallanna');
@import (css) url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import (css) url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i,900,900i');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import (css) url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900,900i');
@import "lib";

html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }

}

.container {
  width: calc(96% + 5px);
  max-width: inherit;
}

.body-wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  > .side-menu {
    width: @side-menu-width;
    position: fixed;
    left: -@side-menu-width;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 1);
    transition: all ease .3s;
    @media @max-767 {
      width: @side-menu-width-mob;
      left: -@side-menu-width-mob;

    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  > .content-wrapper {
    width: 100%;
    position: relative;
    left: 0;
    transition: all ease .3s;
    padding-top: 16vh;
    @media @max-767 {
      padding-top: 1vh;
    }
  }
  &.lunched {
    > .side-menu {
      left: 0;
    }
    > .content-wrapper {
      left: @side-menu-width;
      @media @max-767 {
        left: @side-menu-width-mob;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid @color-yellow;
}

.top-nav {
  background-color: @color-yellow;
  padding-top: 0;
  padding-bottom: 0;
  font-family: @font-Roboto;
  font-weight: 500;
  font-size: 2.2vmin;
  & .left-nav {
    padding-right: 0;
    padding-top: 7px;
    @media @max-1220-min-767 {
      flex: 0 0 33%;
      max-width: 33%;
    }
    > .nav {
      > .nav-item {
        padding-top: 5px;
        padding-right: 10px;
        > a {
          display: block;
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  & .search-nav {
    position: relative;
    padding: 5px 0 5px 25px;
    @media @max-1220-min-767 {
      flex: 0 0 34%;
      max-width: 34%;
    }
    > .form-control {
      border-radius: 0;
      border: none;
    }
    > button {
      position: absolute;
      border: none;
      padding: 0;
      right: 10px;
      top: 2px;
      font-size: 23px;
      background-color: rgba(0, 0, 0, 0);
    }
  }
  & .right-nav {
    @media @max-1220-min-767 {
      flex: 0 0 33%;
      max-width: 33%;
    }
    li.nav-item {
      //padding-right: 30px;
      //padding-top: 7px;
      position: relative;
      display: flex;
      > a {
        color: inherit;
        display: block;
        position: relative;
        padding: 1.6vh 15px;
        text-decoration: none;
        &.customer-name {
          font-weight: 400;
        }
        > .ion-md-arrow-dropdown {
          position: absolute;
          left: calc(100% - 10px);
          font-size: 3vmin;
          top: 8px;
        }
      }
      > .drop-down-wrapper {
        position: absolute;
        background-color: #ffffff;
        top: 100%;
        right: 0;
        padding: 15px 30px;
        border: 1px solid @color-silver;
        border-top: none;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
        display: none;
        min-width: 100%;
        &.top-languages {
          > a {
            white-space: nowrap;
            font-family: @font-lato;
            font-weight: 700;
            text-transform: capitalize;
            font-size: 16px;
            > img {
              width: 25px;
              border-radius: 50%;
              border: 1px solid rgba(0, 0, 0, .3);
            }
          }
        }
        &.top-sign-in {
          text-align: center;
          > a {
            white-space: nowrap;
            color: @color-electron-blue;
            &.btn {
              color: #ffffff;
              font-family: @font-lato;
              font-weight: 700;
              padding: 5px 50px;
            }
          }
          > span {
            white-space: nowrap;
            font-size: 11px;
          }
        }
      }
      &.active {
        background-color: #ffffff;
        > .drop-down-wrapper {
          display: block;
        }
      }
    }
    li.shopping-cart {
      position: relative;
      top: -3px;
      > a {
        > .cart-badge {
          display: inline-block;
          color: #3498db;
          font-size: 2.9vmin;
        }
        > span {
          font-family: @font-lato;
          font-size: 1.2vw;
          &.number {
            color: #e74c3c;
            font-weight: 700;
          }
        }
      }
    }
  }
  @media @max-767 {
    display: none;
  }
}

// banner
.banner {
  width: 100%;
  height: 600px;
  & .carousel-control-next, & .carousel-control-prev {
    top: calc(50% - 22vh);
    bottom: inherit;
  }
  @media @max-767 {
    margin-top: 8vh;
    height: auto;
    background-color: black;
    overflow: hidden;
    & .carousel-control-next, & .carousel-control-prev {
      top: -8vh;
    }
  }
}

.insider-container {
  width: 100%;
  background-color: @color-clouds;
  padding-bottom: 50px;
  padding-top: 30px;
}

.welcome-container {
  width: 100%;
  background-color: @color-clouds;
  position: relative;
  padding-bottom: 50px;
  @media @max-767 {

  }
  &:before {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: rgb(236, 240, 241);
    background: linear-gradient(0deg, rgba(236, 240, 241, 1) 25%, rgba(0, 0, 0, 0) 81%);
    content: '';
    @media @max-767 {
      height: 10vh;
    }
  }
  > .container {
    position: relative;
  }
}

.upper-wrapper {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  @media @max-767 {
    position: relative;
    bottom: inherit;
    top: -12vh;
    margin-bottom: -18vh;
  }
  > .row {
    margin-bottom: 15px;
  }
  @media @max-767 {
    > .row:first-child {
      margin-bottom: 0;
    }
  }
  & .welcome-upper-ref {
    background-color: @color-clouds;
    padding: 10px;
    display: flex;
    @media @max-767 {
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, .5);
    }
    > .ref-part {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      white-space: nowrap;
      &:after {
        position: absolute;
        left: 100%;
        top: 0;
        width: 1px;
        height: 100%;
        content: '';
        background-color: @color-silver;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      @media @max-1220-min-767 {
        display: none;
        &:first-child {
          display: block;
          width: 100%;
          text-align: center;
          &:after {
            display: none;
          }
        }
      }
      @media @max-767 {
        &:nth-child(3) {
          display: none;
        }

        &:nth-child(2) {
          &:after {
            display: none;
          }
        }

        //display: none;
        //&:first-child {
        //  display: block;
        //  width: 100%;
        //  text-align: center;
        //  &:after {
        //    display: none;
        //  }
        //}
      }
      > .ref-part-title {
        display: inline-block;
        text-align: right;
        > span {
          display: block;
          font-family: @font-poppins;
          font-weight: 900;
          font-style: italic;
          font-size: 2.7vmin;
          line-height: 13px;
          text-transform: uppercase;
          @media @max-767 {
            font-size: 3.1vmin;
          }

        }
        > span:first-child {
          color: @color-logo-2;
          @media @max-767 {
            line-height: 10px;
          }
        }
        > span:last-child {
          color: @color-logo-1;
        }
      }
      > .ref-part-icon {
        display: inline-block;
        position: relative;
        top: -5px;
        > i {
          font-size: 2.8vmin;
        }
      }
      > h3 {
        font-size: 2.2vmin;
        text-transform: uppercase;
        font-family: @font-lato;
        margin: 0;
        color: #781f74;
        line-height: 10px;
        &:nth-child(2) {
          line-height: 21px;
        }
        @media @max-767 {
          font-size: 3.1vmin;
        }
      }
      > p {
        margin: 0;
        font-size: 13px;
        color: @color-midnight-blue;
        @media @max-767 {
          line-height: 24px;
          font-size: 15px; ;
        }
        &.single-line {
          font-size: 15px;
        }
      }
    }
  }
  & .upper-item {
    .aspect-ration-wrapper(100%, 230px);
    @media @max-767 {
      margin-bottom: 20px;
      height: 28vh;
    }
    & img {
      .aspect-ration;
      width: 100%;
      height: auto;
      @media @max-767 {
        min-height: 100%;
      }
    }
  }
}

.products-list-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  > .list-control-prev, .list-control-next {
    position: absolute;
    top: 35%;
    background-color: #ffffff;
    border: 1px solid @color-silver;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 10px;
    z-index: 1000;
    opacity: .2;
    //display: block;
    transition: all ease .3s;
    @media @max-767 {
      display: none;
    }
  }
  &:hover > .list-control-prev, &:hover > .list-control-next {
    opacity: 1;
    &.unavailable {
      opacity: .2;
    }
  }
  > .list-control-prev {
    left: 5px;
    border-left: 0;
    //box-shadow: 2px 0 2px @color-silver,1px -2px 2px @color-silver, 1px 2px 2px @color-silver;
  }
  > .list-control-next {
    right: 5px;
    border-right: 0;
    //box-shadow: -2px 0 2px @color-silver,-1px -2px 2px @color-silver, -1px 2px 2px @color-silver;
  }
  > .list-control-prev.unavailable, .list-control-next.unavailable {
    opacity: .2;
    pointer-events: none;
  }
  > .product-list-row {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    > .row {
      display: flex;
      flex-wrap: nowrap;
      @media @max-767 {
        flex-wrap: wrap;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}



.info-holder {
  background-color: #ffffff;
  margin-bottom: 15px;
  .aspect-ration-wrapper(100%, 240px);
  @media @max-767 {
    background-color: #e67e22;
    height: 100px;
  }
  > img {
    .aspect-ration();
    width: 100%;
    @media @max-767 {
      height: 100%;
      width: auto;
      min-width: 100%;
    }
  }
}

.category-holder {
  background-color: #ffffff;
  margin-bottom: 15px;
  .aspect-ration-wrapper(100%, 150px);
  @media @max-767 {
    height: 9vh;
  }
  img {
    .aspect-ration();
    width: 100%;
    @media @max-767 {
      height: 100%;
      width: auto;
      min-width: 100%;
    }
  }
}

// footer


.languages {
  > h2 {
    font-family: @font-poppins;
    color: @color-clouds;
    font-size: 17px;
    margin: 10px;
  }
  & .nav-item {
    > a {
      display: inline-block;
      padding: 5px;
      > img {
        border: 1px solid @color-clouds;
        height: 20px;
      }
    }
  }
}