@import "lib";

.header {
  display: flex;

  &__nav {
    flex: 0 0 22%;
    max-width: 22%;
    padding-right: 1rem;
  }

  &__details {
    flex: 0 0 78%;
    max-width: 78%;
    //display: flex;
    //flex-direction: column;
  }

  &__banner {
    width: 100%;
    height: 200px;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__shortcuts {
    background-color: #FFFFFF;
    margin-top: .5rem;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
  }

  &__shortcut {
    text-align: center;
    font-family: @font-lato;
    font-size: .8rem;
    font-weight: 700;

    > img {
      height: 40px;
      width: auto;
    }

    > span {
      display: block;
      text-align: center;
    }
  }
}

.category-nav {
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  border-radius: 8px;
  padding: 1rem 1.5rem 1rem 1rem;

  &__title {
    font-size: 1.2rem;
    font-family: @font-poppins;
    text-transform: uppercase;
    font-weight: 700;
    // margin: 1rem .5rem;

  }

  &__list {
    margin: 0;
    padding: 0;
    font-family: @font-Raleway;
    font-size: .9rem;
  }

  &__item {
    margin-bottom: .7rem;

    > a {
      display: block;
      position: relative;
      line-height: 1.1rem;

      &:after {
        content: "\f105";
        font-family: @fontLineAwesome;
        position: absolute;
        top: 0;
        left: 100%;
        font-weight: 900;

      }
    }
  }
}

.hot {
  margin: 2rem 0 1rem 0;

  & .row {
    margin: 0 -6px;
  }

  & .col-md-3 {
    padding: 0 6px;
  }

  &__header {
    font-family: @font-lato;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__item {
  }

  &__img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-family: @font-lato;
    font-weight: 700;
    font-size: .9rem;
    margin-top: .6rem;
  }
}

.category-policies {
  background-color: #FFFFFF;
  border: 1px solid darken(#ffffff, 10%);
  padding: 2rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;

  &__item {
    margin-bottom: 1rem;
    font-family: @font-poppins;
  }

  &__title {
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    padding: 0 0 .5rem 0;
    color: @color-midnight-blue;
    border-bottom: 1px solid lighten(#000000, 80%);
    position: relative;

    &:after {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100px;
      height: 4px;
      background-color: lighten(@colorPomeGrante, 10%);
      content: '';
    }
  }

  &__text {
    font-size: .75rem;
    color: lighten(#000000, 60%);
  }
}