.header {
  display: flex;
}
.header__nav {
  flex: 0 0 22%;
  max-width: 22%;
  padding-right: 1rem;
}
.header__details {
  flex: 0 0 78%;
  max-width: 78%;
}
.header__banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.header__banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__shortcuts {
  background-color: #FFFFFF;
  margin-top: 0.5rem;
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.header__shortcut {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
.header__shortcut > img {
  height: 40px;
  width: auto;
}
.header__shortcut > span {
  display: block;
  text-align: center;
}
.category-nav {
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  border-radius: 8px;
  padding: 1rem 1.5rem 1rem 1rem;
}
.category-nav__title {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.category-nav__list {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}
.category-nav__item {
  margin-bottom: 0.7rem;
}
.category-nav__item > a {
  display: block;
  position: relative;
  line-height: 1.1rem;
}
.category-nav__item > a:after {
  content: "\f105";
  font-family: 'Line Awesome Free';
  position: absolute;
  top: 0;
  left: 100%;
  font-weight: 900;
}
.hot {
  margin: 2rem 0 1rem 0;
}
.hot .row {
  margin: 0 -6px;
}
.hot .col-md-3 {
  padding: 0 6px;
}
.hot__header {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.hot__img {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
}
.hot__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hot__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}
.category-policies {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  padding: 2rem 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.category-policies__item {
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}
.category-policies__title {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  color: #2c3e50;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.category-policies__title:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: #d65548;
  content: '';
}
.category-policies__text {
  font-size: 0.75rem;
  color: #999999;
}
/*# sourceMappingURL=parent.category.css.map */