@import "lib";

.products-image {
  position: relative;

  &__preview {
    width: 100%;
    height: 340px;
    background-color: #ffffff;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__show {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    padding: .5rem 0;
    color: lighten(#000000, 40%);
    font-family: @font-Roboto;

    > i {
      font-size: 1.3rem;
    }
  }

  &__thumbs {
    display: flex;
    background-color: #FFFFFF;
  }

  &__thumb {
    width: 50px;
    height: 50px;
    //overflow: hidden;
    border: 1px solid lighten(#000000, 90%);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--active {
      border: 2px solid @color-orange;
      position: relative;

      &:after {
        .topArrow(7px, @color-orange);
      }
    }
  }
}