.products-image {
  position: relative;
}
.products-image__preview {
  width: 100%;
  height: 340px;
  background-color: #ffffff;
}
.products-image__preview > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.products-image__show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  color: #666666;
  font-family: 'Roboto', sans-serif;
}
.products-image__show > i {
  font-size: 1.3rem;
}
.products-image__thumbs {
  display: flex;
  background-color: #FFFFFF;
}
.products-image__thumb {
  width: 50px;
  height: 50px;
  border: 1px solid #e6e6e6;
}
.products-image__thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-image__thumb--active {
  border: 2px solid #f39c12;
  position: relative;
}
.products-image__thumb--active:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 7px;
  height: 7px;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #f39c12;
}
/*# sourceMappingURL=products.css.map */