.section-banner {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.section-banner > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
}
.shop-by {
  padding-top: 20px;
  margin-right: -15px;
  margin-left: -15px;
}
.shop-by > h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 5vmin;
}
.section-category-wrapper {
  margin-bottom: 25px;
}
.section-category-wrapper .section-category-bg {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 100%;
}
.section-category-wrapper .section-category-bg > a > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 100%;
  min-height: 100%;
}
.section-category-wrapper .section-category-sm {
  width: 100%;
  height: 100%;
  background-color: #e67e22;
  overflow: hidden;
}
.section-category-wrapper .section-category-sm img {
  width: 100%;
  min-height: 100%;
}
/*# sourceMappingURL=section.css.map */