@import (css) url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap');
@import "lib";

@fontExo: 'Exo 2', sans-serif;
//.banner {
//  @bannerHeight: 350px;
//  width: 100%;
//  height: @bannerHeight;
//  background-color: #FFFFFF;
//  overflow: hidden;
//  border-bottom: 5px solid @color-orange;
//
//  &__item {
//    height: @bannerHeight;
//    overflow: hidden;
//  }
//}

//.welcome-container {
//  width: 100%;
//  background-color: @color-clouds;
//  position: relative;
//  padding-top: 15px;
//  //padding-bottom: 50px;
//  &:before {
//    width: 100%;
//    height: 70px;
//    position: absolute;
//    left: 0;
//    top: -55px;
//    //background-image: linear-gradient(rgba(0, 0, 0, 0), @color-clouds, @color-clouds);
//    content: '';
//  }
//}

.welcome-category {

  height: 250px;
  padding: 1rem;
  //border-radius: 10px;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid lighten(#000000, 80%);
  //top: -60px;

  &--orange {
    //background-color: lighten(@color-orange, 30%);
    //background-color: lighten(#000000, 70%);
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__txt {
    position: absolute;
    top: calc(50% - .3rem - 1.2rem);
    left: 0;
    width: 100%;
    padding: .3rem 1rem;
    //background-color: rgba(255, 255, 255, .9);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #FFFFFF, rgba(0, 0, 0, 0));

    > h3 {
      text-align: center;
      font-size: 1.8rem;
      line-height: 2.4rem;
      font-family: @font-poppins;
      font-weight: 700;
    }
  }
}

.welcome-slogan {
  display: flex;
  background-color: #FFFFFF;
  padding: .7rem 1rem;

  &__part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: @font-poppins;

    &--main {
      font-family: @fontExo;
      font-weight: 900;
      font-style: italic;
      font-size: 1.2rem;
      line-height: 1rem;
      padding-right: .6rem;
      color: lighten(#000000, 25%);
      text-transform: uppercase;
      //color: darken(@color-orange, 30%);
    }

    &--icon {
      font-size: 1.6rem;
      padding-right: .5rem;
    }

    &--txt {
      line-height: .9rem;
      padding-left: .6rem;
      font-weight: 300;
      position: relative;
      color: lighten(#000000, 25%);

      &::before {
        content: '';
        width: 1px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: lighten(#000000, 80%);
      }

      > h3 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
      }

      > p {
        margin-bottom: 0;
        font-size: .9rem;
      }
    }
  }
}

.welcome-upper-category {
  width: 100%;
  height: 230px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcome-section {
  padding: 1rem;
  margin: 1rem -15px;
  font-family: @font-poppins;

  &--white {
    background-color: #FFFFFF;
    border: 1px solid darken(#ffffff, 10%);
  }

  &__header {
    position: relative;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  &__txt {
    font-size: 1rem;
  }

  &__link {
    position: absolute;
    right: 0;
    top: 1rem;
    color: @colorPomeGrante;
  }
}

.category-nav {
  &__header {
    margin-top: 1rem;
    border-bottom: 1px solid @colorPomeGrante;
  }

  &__body {
    padding: 2rem;
  }

  &__list {
    display: flex;
  }

  &__item {

  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 1rem 2rem 1rem;

    &:hover {
      color: inherit;
    }

    &--active {
      background-color: @colorPomeGrante;
      color: #ffffff;

      &:after {
        @width: 15px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        width: @width;
        height: @width;
        content: '';
        border-left: @width solid rgba(0, 0, 0, 0);
        border-right: @width solid rgba(0, 0, 0, 0);
        border-top: @width solid @colorPomeGrante;
      }

      &:hover {
        color: #FFFFFF;
      }
    }

    > i {
      font-size: 1.9rem;
    }

    > span {
      text-align: center;
      font-size: .8rem;
      line-height: .8rem;
    }
  }

  &__title {
    position: relative;
    font-size: 1.2rem;
    margin: 1rem  -15px;

    > a {
      position: absolute;
      right: 0;
      bottom: 0;
      color: @colorPomeGrante;
      font-size: .9rem;
    }
  }
}

.category-product {
  border: 1px solid darken(#ffffff, 15%);
  border-right: 0;
  padding: 1rem;

  &:last-child {
    border-right: 1px solid darken(#ffffff, 15%);
  }

  &__wrapper {

  }

  &__img {
    width: 100%;
    height: 250px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @lineHeight: 1.3rem;
    font-size: .95rem;
    margin: 0 0 1rem 0;
    line-height: @lineHeight;
    height: @lineHeight*3;
  }

  &__price {
    font-family: @font-lato;
    color: @colorPomeGrante;
    font-size: 1.1rem;
    font-weight: 900;

    > span {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  &__quantity {
    font-size: .9rem;
  }

  &__action {
    display: flex;
    margin-top: 2rem;
  }

  &__btn {
    font-size: .9rem;
    display: flex;
    align-items: center;
    padding: .3rem .5rem;
    margin-right: .4rem;

    > span {
      margin-left: .5rem;
    }

    > i {
      font-size: 1.3rem;
    }

    &--primary {
      background-color: @colorPomeGrante;
      color: #FFFFFF;
      border: 1px solid darken(@colorPomeGrante, 10%);
    }

    &--secondary {
      background-color: darken(#ffffff, 20%);
      border: 1px solid darken(#ffffff, 25%);
    }
  }
}

// RFQ Box
.rfq {
  margin: 0 -15px;
  //height: 350px;
  border: 1px solid darken(#ffffff, 10%);
  background-image: url("../images/__design/1080P-WDR-GPS-WI-FI-Night-View.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2rem;
  font-family: @font-poppins;

  &__txt {
    display: flex;
    flex: 0 0 40%;
    max-width: 40%;
    flex-direction: column;
    justify-content: center;

    > h1 {

      font-size: 1.7rem;
      font-weight: 700;
      margin: 0 0 2rem 0;
    }

    > h2 {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__form {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid darken(#ffffff, 10%);
    margin-left: auto;
    padding: 1rem 1.5rem;
    flex: 0 0 50%;
    max-width: 40%;
  }

  &__title {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  &__row {
    display: flex;
    margin-bottom: .7rem;
  }

  &__col {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: .5rem;
  }

  &__btn {
    background-color: @colorPomeGrante;
    border: 1px solid darken(@colorPomeGrante, 10%);
    color: #ffffff;
    padding: .3rem .5rem;
    border-radius: 5px;
  }
}

.solutions {
  @marginValues: .5rem;
  margin: 2rem -15px 0 -15px;

  &__title {
    text-align: center;
    font-size: 1.7rem;
    font-family: @font-poppins;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    margin: 0 -@marginValues;
  }

  &__wrapper {
    padding: 0 @marginValues;
    flex: 0 0 50%;
    max-width: 50%;
  }

  &__item {
    height: 100%;
    position: relative;
    display: flex;

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      z-index: 2;
      background-image: linear-gradient(-80deg, transparent 100px, #c6c3ba 280px, #c6c3ba);
    }

    &:before {
      z-index: 3;
      background-color: rgba(0, 0, 0, .1);
      transition: background-color ease-in .2s;
    }

    &:hover:before {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 1rem;
    color: #FFFFFF;
    font-family: @font-lato;
    font-size: .9rem;

    > h3 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  &__mask {
    margin-left: auto;
    height: 210px;
    position: relative;
    z-index: 1;

    > img {
      width: auto;
      height: 100%;
    }
  }
}