@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap');
.welcome-category {
  height: 250px;
  padding: 1rem;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
}
.welcome-category__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.welcome-category__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.welcome-category__txt {
  position: absolute;
  top: calc(50% - 0.3rem - 1.2rem);
  left: 0;
  width: 100%;
  padding: 0.3rem 1rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #FFFFFF, rgba(0, 0, 0, 0));
}
.welcome-category__txt > h3 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.welcome-slogan {
  display: flex;
  background-color: #FFFFFF;
  padding: 0.7rem 1rem;
}
.welcome-slogan__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.welcome-slogan__part--main {
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1rem;
  padding-right: 0.6rem;
  color: #404040;
  text-transform: uppercase;
}
.welcome-slogan__part--icon {
  font-size: 1.6rem;
  padding-right: 0.5rem;
}
.welcome-slogan__part--txt {
  line-height: 0.9rem;
  padding-left: 0.6rem;
  font-weight: 300;
  position: relative;
  color: #404040;
}
.welcome-slogan__part--txt::before {
  content: '';
  width: 1px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #cccccc;
}
.welcome-slogan__part--txt > h3 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.welcome-slogan__part--txt > p {
  margin-bottom: 0;
  font-size: 0.9rem;
}
.welcome-upper-category {
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.welcome-upper-category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcome-section {
  padding: 1rem;
  margin: 1rem -15px;
  font-family: 'Poppins', sans-serif;
}
.welcome-section--white {
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
}
.welcome-section__header {
  position: relative;
}
.welcome-section__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.welcome-section__txt {
  font-size: 1rem;
}
.welcome-section__link {
  position: absolute;
  right: 0;
  top: 1rem;
  color: #c0392b;
}
.category-nav__header {
  margin-top: 1rem;
  border-bottom: 1px solid #c0392b;
}
.category-nav__body {
  padding: 2rem;
}
.category-nav__list {
  display: flex;
}
.category-nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
}
.category-nav__link:hover {
  color: inherit;
}
.category-nav__link--active {
  background-color: #c0392b;
  color: #ffffff;
}
.category-nav__link--active:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  content: '';
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid #c0392b;
}
.category-nav__link--active:hover {
  color: #FFFFFF;
}
.category-nav__link > i {
  font-size: 1.9rem;
}
.category-nav__link > span {
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.category-nav__title {
  position: relative;
  font-size: 1.2rem;
  margin: 1rem -15px;
}
.category-nav__title > a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #c0392b;
  font-size: 0.9rem;
}
.category-product {
  border: 1px solid #d9d9d9;
  border-right: 0;
  padding: 1rem;
}
.category-product:last-child {
  border-right: 1px solid #d9d9d9;
}
.category-product__img {
  width: 100%;
  height: 250px;
}
.category-product__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-product__title {
  font-size: 0.95rem;
  margin: 0 0 1rem 0;
  line-height: 1.3rem;
  height: 3.9rem;
}
.category-product__price {
  font-family: 'Lato', sans-serif;
  color: #c0392b;
  font-size: 1.1rem;
  font-weight: 900;
}
.category-product__price > span {
  font-weight: 400;
  font-size: 1rem;
}
.category-product__quantity {
  font-size: 0.9rem;
}
.category-product__action {
  display: flex;
  margin-top: 2rem;
}
.category-product__btn {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin-right: 0.4rem;
}
.category-product__btn > span {
  margin-left: 0.5rem;
}
.category-product__btn > i {
  font-size: 1.3rem;
}
.category-product__btn--primary {
  background-color: #c0392b;
  color: #FFFFFF;
  border: 1px solid #962d22;
}
.category-product__btn--secondary {
  background-color: #cccccc;
  border: 1px solid #bfbfbf;
}
.rfq {
  margin: 0 -15px;
  border: 1px solid #e6e6e6;
  background-image: url("../images/__design/1080P-WDR-GPS-WI-FI-Night-View.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}
.rfq__txt {
  display: flex;
  flex: 0 0 40%;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
}
.rfq__txt > h1 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}
.rfq__txt > h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.rfq__form {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e6e6e6;
  margin-left: auto;
  padding: 1rem 1.5rem;
  flex: 0 0 50%;
  max-width: 40%;
}
.rfq__title {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
.rfq__row {
  display: flex;
  margin-bottom: 0.7rem;
}
.rfq__col {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 0.5rem;
}
.rfq__btn {
  background-color: #c0392b;
  border: 1px solid #962d22;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.solutions {
  margin: 2rem -15px 0 -15px;
}
.solutions__title {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
.solutions__container {
  display: flex;
  margin: 0 -0.5rem;
}
.solutions__wrapper {
  padding: 0 0.5rem;
  flex: 0 0 50%;
  max-width: 50%;
}
.solutions__item {
  height: 100%;
  position: relative;
  display: flex;
}
.solutions__item:after,
.solutions__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.solutions__item:after {
  z-index: 2;
  background-image: linear-gradient(-80deg, transparent 100px, #c6c3ba 280px, #c6c3ba);
}
.solutions__item:before {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color ease-in 0.2s;
}
.solutions__item:hover:before {
  background-color: rgba(0, 0, 0, 0.3);
}
.solutions__text {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  padding: 1rem;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}
.solutions__text > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.solutions__mask {
  margin-left: auto;
  height: 210px;
  position: relative;
  z-index: 1;
}
.solutions__mask > img {
  width: auto;
  height: 100%;
}
/*# sourceMappingURL=welcome.css.map */