@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import (css) url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
// Fonts
@font-lato: 'Lato', sans-serif;
@font-Raleway: 'Raleway', sans-serif;
@font-fontAwesome: 'Font Awesome\ 5 Free';
// Colors
@colorWisteria: #8e44ad;
@color-asphalt: #34495e;
@colorRed: #fb6b5b;
@colorBelizeHole: #2980b9;
// Functions
.aspectAbsoluteImages() {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.textShadow(@color,@distance,@deep) {
  text-shadow: @distance 0 @deep @color, -@distance 0 @deep @color, 0 @distance @deep @color,0 -@distance @deep @color;
}

// Styles
.gallery-wrapper {
  @gallery-section-height: 350px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 4000;
  &.active {
    display: block;
  }
  & .gallery-container {
    width: 95%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    background-color: #fcfcfc;
    direction: ltr;
    > .close-gallery {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, .5);
    }
    > h1 {
      font-family: @font-lato;
      font-weight: 700;
      font-size: 1.4rem;
      margin: 1rem 2rem;
    }
    & .nav-tabs {
      padding-left: 1rem;
      > .nav-item {
      }
      > .nav-link {
        border-radius: 0;
        font-family: @font-lato;
        padding: .4rem 1rem;
        font-size: .9rem;
        color: @colorWisteria;
        &.active {
          color: #000;
        }
      }
    }
    & .tab-content {
      background-color: #ffffff;
      border-bottom: 1px solid #dee2e6;
      height: 390px;
      position: relative;
      overflow: hidden;
      > .tab-pane {
        height: 100%;
        position: relative;
      }
      & .media-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        > .row {
          height: 100%;
        }
        & .media-items-wrapper {
          border-right: 1px solid #dee2e6;
          > .media-container {
            padding: 20px 0 0 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            > .media-body {
              flex-grow: 15;
              display: flex;
              position: relative;
              > .media-body-container {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow-y: auto;
                overflow-x: hidden;
                > .media-row {
                  @distanceBetween: 10px;
                  flex-direction: row;
                  display: flex;
                  margin-right: calc(-@distanceBetween + 5px);
                  margin-left: calc(-@distanceBetween + 5px);
                  margin-top: 15px;
                  flex-wrap: wrap;
                  > .thumb {
                    flex: 0 0 calc(100% / 7);
                    padding-right: @distanceBetween;
                    padding-left: @distanceBetween;
                    > .media-item {
                      width: 100%;
                      height: 110px;
                      margin: .5rem 0;
                      position: relative;
                      cursor: pointer;
                      > .image-wrapper {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border: 1px solid rgba(0, 0, 0, .3);
                        position: relative;
                        z-index: 1;
                        > img {
                          .aspectAbsoluteImages;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }
                      }
                      > span.selected {
                        position: absolute;
                        background-color: #ffffff;
                        border: 1px solid #0073aa;
                        top: -10px;
                        right: -10px;
                        z-index: 3;
                        width: 28px;
                        height: 28px;
                        padding: 2px;
                        display: none;
                        &:after {
                          content: '\f00c';
                          font-family: @font-fontAwesome;
                          font-weight: 900;
                          color: #ffffff;
                          background-color: #0073aa;
                          @spanAfterPosition: 2px;
                          position: absolute;
                          left: @spanAfterPosition;
                          right: @spanAfterPosition;
                          top: @spanAfterPosition;
                          bottom: @spanAfterPosition;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          font-size: .9rem;
                        }
                      }
                      > .loading-area {
                        display: flex;
                        background-color: #eeeeee;
                        width: 100%;
                        height: 100%;
                        padding: 0 .8rem;
                        justify-content: center;
                        align-items: center;
                        > .progress {
                          width: 100%;
                          background-color: #d6d6d6;
                          height: .55rem;
                          border-radius: .3rem;
                          > .progress-bar {
                            border-radius: 0 .3rem .3rem 0;
                          }
                        }
                      }

                    }
                    &.selected {
                      > .media-item {
                        > span.selected {
                          display: flex;
                        }
                        &:after {
                          @itemPosition: -5px;
                          content: '';
                          position: absolute;
                          top: @itemPosition;
                          bottom: @itemPosition;
                          left: @itemPosition;
                          right: @itemPosition;
                          border: 3px solid #0073aa;
                        }

                      }
                    }
                  }
                }
              }
            }
            > .media-header {
              flex-grow: 1;
              display: flex;
            }
          }
        }
        & .media-details-wrapper {
          background-color: rgba(0, 0, 0, .03);
          position: relative;
          > .media-details {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
            right: 15px;
            overflow-y: auto;
            overflow-x: auto;
            > .thumb-preview {
              display: none;
              &.active {
                display: block;
              }
              > h2 {
                font-family: @font-Raleway;
                font-size: .8rem;
                font-weight: 600;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                color: #666;
              }
              > .image-wrapper {
                position: relative;
                overflow: hidden;
                width: 50%;
                height: 80px;
                border: 1px solid @color-asphalt;
                > img {
                  .aspectAbsoluteImages;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              > span {
                display: block;
                &.img-title {
                  font-size: .8rem;
                  font-weight: 600;
                  margin: .5rem 0;
                }
                &.date {
                  color: rgba(0, 0, 0, .8);
                  font-size: .8rem;
                }
              }
              > a.delete-img {
                display: block;
                color: darken(@colorRed, 30%);
                font-size: .8rem;
              }
              > .details-inputs {
                margin-top: 1rem;
                margin-right: 1.2rem;
                padding-top: 1rem;
                border-top: 1px solid #dee2e6;
                & label {
                  font-size: .8rem;
                  font-weight: 600;
                  text-align: right;
                  padding-right: 0;
                }
                & small {
                  font-size: .7rem;
                  font-weight: 600;
                }
              }
            }
          }
        }

      }
      & .gallery-upload-wrapper {
        //display: flex;
        //flex-direction: column;
        height: 100%;
        padding-top: 60px;
        //justify-content: center;
        //align-items: center;
        font-family: @font-lato;
        text-align: center;
        > h2 {
          font-size: 1.5rem;

        }
        & .upload-hidden {
          display: none;
        }
        & .gallery-upload-button {
          margin-top: 1.5rem;
          padding: .7rem 3rem;
          background-color: rgba(0, 0, 0, .03);
          border: 1px solid #dddddd;
        }
        & .gallery-max-size {
          display: block;
          margin-top: 1.2rem;
          font-size: .8rem;
          color: rgba(0, 0, 0, .5);
        }

      }
    }
    & .gallery-footer {
      padding: .8rem 2rem;
      text-align: right;
      > .btn {
        padding: .3rem 1.5rem;
        background: @colorBelizeHole;
        font-size: .8rem;
        color: #ffffff;
        font-weight: 600;
        .textShadow(darken(@colorBelizeHole, 10%), 1px, 1px);
        border-color: darken(@colorBelizeHole, 10%);
        box-shadow: 0 1px 0 darken(@colorBelizeHole, 10%);
        &:disabled {
          color: lighten(@colorBelizeHole, 40%);
        }
      }
    }
  }
}

.media-result {
  margin-top: .5rem;
  margin-bottom: .5rem;
  > .media-details {
    display: flex;
    > .thumb-preview {
      > h2 {
        display: none;
      }
      > .image-wrapper {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border: 1px solid rgba(0,0,0,.1);
        margin-left: .5rem;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }
      > span.img-title {
        display: none;
      }
      > span.date {
        display: none;
      }
      > a.delete-img {
        display: none;
      }
      > .details-inputs {
        display: none;
      }
    }
  }
}