@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
.gallery-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4000;
}
.gallery-wrapper.active {
  display: block;
}
.gallery-wrapper .gallery-container {
  width: 95%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  background-color: #fcfcfc;
  direction: ltr;
}
.gallery-wrapper .gallery-container > .close-gallery {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}
.gallery-wrapper .gallery-container > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 1rem 2rem;
}
.gallery-wrapper .gallery-container .nav-tabs {
  padding-left: 1rem;
}
.gallery-wrapper .gallery-container .nav-tabs > .nav-link {
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  color: #8e44ad;
}
.gallery-wrapper .gallery-container .nav-tabs > .nav-link.active {
  color: #000;
}
.gallery-wrapper .gallery-container .tab-content {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  height: 390px;
  position: relative;
  overflow: hidden;
}
.gallery-wrapper .gallery-container .tab-content > .tab-pane {
  height: 100%;
  position: relative;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper > .row {
  height: 100%;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper {
  border-right: 1px solid #dee2e6;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container {
  padding: 20px 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body {
  flex-grow: 15;
  display: flex;
  position: relative;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row {
  flex-direction: row;
  display: flex;
  margin-right: calc(-10px + 5px);
  margin-left: calc(-10px + 5px);
  margin-top: 15px;
  flex-wrap: wrap;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb {
  flex: 0 0 calc(100% / 7);
  padding-right: 10px;
  padding-left: 10px;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item {
  width: 100%;
  height: 110px;
  margin: 0.5rem 0;
  position: relative;
  cursor: pointer;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > .image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > .image-wrapper > img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > span.selected {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #0073aa;
  top: -10px;
  right: -10px;
  z-index: 3;
  width: 28px;
  height: 28px;
  padding: 2px;
  display: none;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > span.selected:after {
  content: '\f00c';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #ffffff;
  background-color: #0073aa;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > .loading-area {
  display: flex;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  padding: 0 0.8rem;
  justify-content: center;
  align-items: center;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > .loading-area > .progress {
  width: 100%;
  background-color: #d6d6d6;
  height: 0.55rem;
  border-radius: 0.3rem;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb > .media-item > .loading-area > .progress > .progress-bar {
  border-radius: 0 0.3rem 0.3rem 0;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb.selected > .media-item > span.selected {
  display: flex;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-body > .media-body-container > .media-row > .thumb.selected > .media-item:after {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 3px solid #0073aa;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-items-wrapper > .media-container > .media-header {
  flex-grow: 1;
  display: flex;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper {
  background-color: rgba(0, 0, 0, 0.03);
  position: relative;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  overflow-y: auto;
  overflow-x: auto;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview {
  display: none;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview.active {
  display: block;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #666;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > .image-wrapper {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 80px;
  border: 1px solid #34495e;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > .image-wrapper > img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > span {
  display: block;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > span.img-title {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > span.date {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > a.delete-img {
  display: block;
  color: #b91604;
  font-size: 0.8rem;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > .details-inputs {
  margin-top: 1rem;
  margin-right: 1.2rem;
  padding-top: 1rem;
  border-top: 1px solid #dee2e6;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > .details-inputs label {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: right;
  padding-right: 0;
}
.gallery-wrapper .gallery-container .tab-content .media-wrapper .media-details-wrapper > .media-details > .thumb-preview > .details-inputs small {
  font-size: 0.7rem;
  font-weight: 600;
}
.gallery-wrapper .gallery-container .tab-content .gallery-upload-wrapper {
  height: 100%;
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.gallery-wrapper .gallery-container .tab-content .gallery-upload-wrapper > h2 {
  font-size: 1.5rem;
}
.gallery-wrapper .gallery-container .tab-content .gallery-upload-wrapper .upload-hidden {
  display: none;
}
.gallery-wrapper .gallery-container .tab-content .gallery-upload-wrapper .gallery-upload-button {
  margin-top: 1.5rem;
  padding: 0.7rem 3rem;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid #dddddd;
}
.gallery-wrapper .gallery-container .tab-content .gallery-upload-wrapper .gallery-max-size {
  display: block;
  margin-top: 1.2rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.gallery-wrapper .gallery-container .gallery-footer {
  padding: 0.8rem 2rem;
  text-align: right;
}
.gallery-wrapper .gallery-container .gallery-footer > .btn {
  padding: 0.3rem 1.5rem;
  background: #2980b9;
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 1px 0 1px #20638f, -1px 0 1px #20638f, 0 1px 1px #20638f, 0 -1px 1px #20638f;
  border-color: #20638f;
  box-shadow: 0 1px 0 #20638f;
}
.gallery-wrapper .gallery-container .gallery-footer > .btn:disabled {
  color: #bedcf0;
}
.media-result {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.media-result > .media-details {
  display: flex;
}
.media-result > .media-details > .thumb-preview > h2 {
  display: none;
}
.media-result > .media-details > .thumb-preview > .image-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
}
.media-result > .media-details > .thumb-preview > .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-result > .media-details > .thumb-preview > span.img-title {
  display: none;
}
.media-result > .media-details > .thumb-preview > span.date {
  display: none;
}
.media-result > .media-details > .thumb-preview > a.delete-img {
  display: none;
}
.media-result > .media-details > .thumb-preview > .details-inputs {
  display: none;
}
/*# sourceMappingURL=gallery.css.map */