@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900,900i');
html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.auth-container {
  width: 27%;
  margin: 20px auto;
}
.auth-container > a {
  display: block;
  text-align: center;
}
.auth-container > a > img {
  width: 70%;
}
.auth-container > .form-container {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  border: 1px solid #bdc3c7;
  margin-top: 20px;
  border-radius: 5px;
  padding: 4vh 4vmin;
}
.form-group {
  position: relative;
  margin-bottom: 10px;
}
.form-group > label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.form-group > a {
  position: absolute;
  right: 0;
  display: inline-block;
}
.form-group > input.form-control {
  height: 35px;
}
span.notification {
  display: block;
  margin-top: 15px;
}
span.notification > a {
  color: #0984e3;
  font-weight: 500;
}
.new-to-wrapper {
  text-align: center;
  position: relative;
}
.new-to-wrapper:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #7f8c8d;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.new-to-wrapper > span.new-to {
  display: inline-block;
  margin: 20px 0;
  padding: 0 15px;
  color: #7f8c8d;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.btn-light {
  background-color: #bdc3c7;
}
.btn-sp-facebook {
  background-color: #3b5998;
  color: #ffffff;
}
/*# sourceMappingURL=auth.css.map */