@import "lib";

.form-wrapper {

  > .card-body {
    > nav {
      > .nav-tabs {
        > a {
          font-family: @font-Roboto;
          font-weight: 500;
          font-size: 17px;
          color: @color-dark-blue;
        }
      }
    }

    .tab-content {
      padding: 10px 20px;

      .tab-pane {
        width: 100%;
      }
    }

    .form-control {
      border-radius: 0;

      &:focus {
        outline: 0;
        box-shadow: none;
        border-color: @color-asphalt;
      }
    }

    .input-group-text {
      border-radius: 0;

      > img {
        width: 26px;
      }
    }
  }

  .table {
    font-family: @font-Roboto;
    margin-top: 20px;

    & td, & th {
      padding: 7px;
    }

    input {
      border: none;
      padding: 2px 10px;
      max-width: 140px;
    }

    a.remove-row {
      font-size: 20px;
    }
  }

  a.add-row {
    margin-bottom: 40px;
    border-radius: 0;
  }
}

section#filters_area {
  > .card {
    margin-bottom: 10px;

    > .card-header {
      position: relative;

      > a.remove-filter {
        position: absolute;
        right: 10px;
        top: 5px;
      }
    }
  }
}

.filter-item-wrapper {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;

  > .row {
    margin-bottom: 10px;
  }
}

.filter-inputs {
  margin-top: 10px;
  border: 1px solid @color-silver;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}

.current-images {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;

  > .filter-inputs {
    margin-bottom: 40px;
    padding-bottom: 0;

    > .current-image {
      width: 100%;
      height: 120px;
      position: relative;
      display: block;

      > img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        z-index: 1;
      }
    }

    > .current-image-ref {
      margin-top: 10px;
      background-color: @color-silver;
      color: @color-dark-blue;

      > [class^=col] {
        padding: 0;
      }

      > .filter-name {
        padding-top: 7px;
        text-align: center;
      }

      & input.form-control {
        border-left: 0;
        border-right: 0;
      }
    }

    > a.remove-image {
      border-radius: 0;
      position: absolute;
      left: -1px;
      top: 100%;
      width: calc(100% + 2px);
      border: 1px solid @color-dark-blue;
    }
  }
}

.group-items-section {
  > h2 {
    padding: 0;
    display: flex;
    align-items: center;
    font-family: @font-lato;
    margin-top: 1rem;
    margin-bottom: 2rem;

    > span {
      font-size: 1.3rem;
    }

    > a {
      padding: .1rem 1rem;
      margin-left: 1rem;
      border-radius: 0;
    }
  }

  > .group-items-wrapper-header {
    font-family: @font-lato;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 1px solid @color-grey;
    border-top: 1px solid @color-grey;
    margin-bottom: 1rem;
    padding: .5rem 0;
  }

  > .group-items-wrapper-body {
    & a.__remove_item {
      font-size: 1.6rem;
      padding: 0 0;
      border-radius: 0;
    }
  }
}

.input-group-min {
  & .input-group-text {
    border-radius: 0;
  }

  & .form-control {
    border-radius: 0;
  }

  &.is-invalid {
    & .input-group-text {
      border-color: @colorAlizarin;
    }

    & .form-control {
      border-color: @colorAlizarin;
    }
  }
}

.gallery-product-wrapper {
  border: 1px solid #dddddd;
  margin: 2rem 0;
  padding: 2rem;

  > span {
    &.notes {
      display: block;
      font-size: .9rem;
      color: rgba(0, 0, 0, .6);
    }
  }

  > .add-gallery {
    display: inline-block;
    border: 1px solid #dddddd;
    padding: .3rem 1.5rem;
    margin-top: 1rem;
  }
}

.price-table {
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-size: .9rem;

  > thead {
    > tr {
      > th {
        border-bottom: 1px solid #dddddd;
        padding-top: .7rem !important;
        padding-bottom: .7rem !important;
      }
    }

  }

  & tbody {
    & td {
      border-top: 0;
      border-bottom: 1px solid #dddddd;
      vertical-align: middle;

      > span {
        > i {
          font-size: 1.1rem;
        }
      }

      > a.remove-row {
        font-size: 1.5rem !important;
        color: @colorAlizarin;

        &.in-active {
          color: @color-grey;
          cursor: not-allowed;
        }
      }

      > input {
        height: calc(1.5em + .75rem + 2px);
        padding: .25rem .5rem !important;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid #dddddd !important;
        border-radius: 5px;
      }
    }
  }

  & tfoot {
    & td {
      font-family: @font-Mallanna;
      text-align: center;
      font-size: 1rem;

      > a {
        color: #2980b9;

        &.in-active {
          color: @color-grey;
          cursor: not-allowed;
        }
      }
    }
  }
}

h2.section-title {
  font-size: 1.5rem;
  font-family: @font-Mallanna;
  text-decoration: underline;
  color: #34495e;
  margin: 1rem 0;
}

.custom-file {
  &.is-invalid {
    .custom-file-label {
      border-color: @colorAlizarin;
    }
  }
}