.search-form-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}
.search-form-wrapper > .search-form {
  display: flex;
}
.search-form-wrapper > .search-form > .search-form-col {
  padding-left: 10px;
}
.search-form-wrapper > .search-form > .search-form-col .form-control {
  height: calc(1.5em + 0.3rem + 2px);
}
.search-form-wrapper > .search-form .btn {
  padding: 0.15rem 0.75rem;
  margin-left: 10px;
}
/*# sourceMappingURL=form.mine.css.map */