.form-wrapper > .card-body > nav > .nav-tabs > a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #40485b;
}
.form-wrapper > .card-body .tab-content {
  padding: 10px 20px;
}
.form-wrapper > .card-body .tab-content .tab-pane {
  width: 100%;
}
.form-wrapper > .card-body .form-control {
  border-radius: 0;
}
.form-wrapper > .card-body .form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #34495e;
}
.form-wrapper > .card-body .input-group-text {
  border-radius: 0;
}
.form-wrapper > .card-body .input-group-text > img {
  width: 26px;
}
.form-wrapper .table {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}
.form-wrapper .table td,
.form-wrapper .table th {
  padding: 7px;
}
.form-wrapper .table input {
  border: none;
  padding: 2px 10px;
  max-width: 140px;
}
.form-wrapper .table a.remove-row {
  font-size: 20px;
}
.form-wrapper a.add-row {
  margin-bottom: 40px;
  border-radius: 0;
}
section#filters_area > .card {
  margin-bottom: 10px;
}
section#filters_area > .card > .card-header {
  position: relative;
}
section#filters_area > .card > .card-header > a.remove-filter {
  position: absolute;
  right: 10px;
  top: 5px;
}
.filter-item-wrapper {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.filter-item-wrapper > .row {
  margin-bottom: 10px;
}
.filter-inputs {
  margin-top: 10px;
  border: 1px solid #bdc3c7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
}
.current-images {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.current-images > .filter-inputs {
  margin-bottom: 40px;
  padding-bottom: 0;
}
.current-images > .filter-inputs > .current-image {
  width: 100%;
  height: 120px;
  position: relative;
  display: block;
}
.current-images > .filter-inputs > .current-image > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
}
.current-images > .filter-inputs > .current-image-ref {
  margin-top: 10px;
  background-color: #bdc3c7;
  color: #40485b;
}
.current-images > .filter-inputs > .current-image-ref > [class^=col] {
  padding: 0;
}
.current-images > .filter-inputs > .current-image-ref > .filter-name {
  padding-top: 7px;
  text-align: center;
}
.current-images > .filter-inputs > .current-image-ref input.form-control {
  border-left: 0;
  border-right: 0;
}
.current-images > .filter-inputs > a.remove-image {
  border-radius: 0;
  position: absolute;
  left: -1px;
  top: 100%;
  width: calc(100% + 2px);
  border: 1px solid #40485b;
}
.group-items-section > h2 {
  padding: 0;
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.group-items-section > h2 > span {
  font-size: 1.3rem;
}
.group-items-section > h2 > a {
  padding: 0.1rem 1rem;
  margin-left: 1rem;
  border-radius: 0;
}
.group-items-section > .group-items-wrapper-header {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}
.group-items-section > .group-items-wrapper-body a.__remove_item {
  font-size: 1.6rem;
  padding: 0 0;
  border-radius: 0;
}
.input-group-min .input-group-text {
  border-radius: 0;
}
.input-group-min .form-control {
  border-radius: 0;
}
.input-group-min.is-invalid .input-group-text {
  border-color: #e74c3c;
}
.input-group-min.is-invalid .form-control {
  border-color: #e74c3c;
}
.gallery-product-wrapper {
  border: 1px solid #dddddd;
  margin: 2rem 0;
  padding: 2rem;
}
.gallery-product-wrapper > span.notes {
  display: block;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}
.gallery-product-wrapper > .add-gallery {
  display: inline-block;
  border: 1px solid #dddddd;
  padding: 0.3rem 1.5rem;
  margin-top: 1rem;
}
.price-table {
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-size: 0.9rem;
}
.price-table > thead > tr > th {
  border-bottom: 1px solid #dddddd;
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}
.price-table tbody td {
  border-top: 0;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
}
.price-table tbody td > span > i {
  font-size: 1.1rem;
}
.price-table tbody td > a.remove-row {
  font-size: 1.5rem !important;
  color: #e74c3c;
}
.price-table tbody td > a.remove-row.in-active {
  color: #dddddd;
  cursor: not-allowed;
}
.price-table tbody td > input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.25rem 0.5rem !important;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #dddddd !important;
  border-radius: 5px;
}
.price-table tfoot td {
  font-family: 'Mallanna', sans-serif;
  text-align: center;
  font-size: 1rem;
}
.price-table tfoot td > a {
  color: #2980b9;
}
.price-table tfoot td > a.in-active {
  color: #dddddd;
  cursor: not-allowed;
}
h2.section-title {
  font-size: 1.5rem;
  font-family: 'Mallanna', sans-serif;
  text-decoration: underline;
  color: #34495e;
  margin: 1rem 0;
}
.custom-file.is-invalid .custom-file-label {
  border-color: #e74c3c;
}
/*# sourceMappingURL=form.css.map */