@import (css) url('https://fonts.googleapis.com/css?family=Mallanna');
@import (css) url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import (css) url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "lib";

@borderColor: rgba(0, 0, 0, .7);
@backgroundColor: rgba(0, 0, 0, 0);
@colorBlue: #3498db;
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.login-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../images/login-bg.jpeg") no-repeat left top;
  background-size: cover;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-color: rgba(255, 255, 255, .1);
    z-index: -1;
  }
}

.login-area {
  @shadow-color: rgba(0, 0, 0, .1);
  width: 35%;
  padding: 90px 50px;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 10px 0 10px @shadow-color, -10px 0 10px @shadow-color, 0 10px 10px @shadow-color, 0 -10px 10px @shadow-color;

  > h1 {
    text-align: center;
    font-family: @font-Raleway;
    font-weight: 700;
    font-size: 30px;
    color: @color-dark-blue;
  }

  > .login-alert {
    text-align: center;
    font-size: .8rem;
    color: #c0392b;
  }

  .form-group {
    > .input-group {
      > .input-group-prepend {
        > .input-group-text {
          font-size: 1.3rem;
          border: 1px solid @borderColor;
          border-right: 0;
          background-color: @backgroundColor;
        }
      }

      > .form-control {
        border: 1px solid @borderColor;
        border-left: 0;
        background-color: @backgroundColor;

        &:focus {
          box-shadow: none;
        }
      }

      &.is-invalid {
        > .input-group-prepend {
          > .input-group-text {
            border-color: #dc3545;
            color: #dc3545;
          }
        }

        > .form-control {
          border-color: #dc3545;
        }
      }
    }

  }


  & .form-control, & .input-group-text, & .btn {
    border-radius: 0;
  }
}

.form-check-container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: @font-Raleway;
  display: inline-block;

  > label {
    display: flex;
    align-items: center;
    font-size: .9rem;

    > input {
      width: 0;
      height: 0;
      opacity: 0;

      ~ .checkmark {
        width: 20px;
        height: 20px;
        border: 1px solid @borderColor;
        background-color: @backgroundColor;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:checked ~ .checkmark {
        background-color: @colorBlue;
        border-color: darken(@colorBlue, 5%);

        &:after {
          content: '\f00c';
          font-family: @font-fontAwesome;
          font-weight: 900;
          font-size: .8rem;
          color: #ffffff;
        }
      }
    }

  }
}

.login-btn-area {
  margin-top: 1.5rem;

  > .btn {
    font-family: @font-lato;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.footer-link-area {
  margin-top: 2rem;
  font-size: .8rem;
  font-family: @font-Raleway;
  font-weight: 500;

  & a {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
  }
}