@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.login-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../images/login-bg.jpeg") no-repeat left top;
  background-size: cover;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}
.login-area {
  width: 35%;
  padding: 90px 50px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1), -10px 0 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1), 0 -10px 10px rgba(0, 0, 0, 0.1);
}
.login-area > h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #40485b;
}
.login-area > .login-alert {
  text-align: center;
  font-size: 0.8rem;
  color: #c0392b;
}
.login-area .form-group > .input-group > .input-group-prepend > .input-group-text {
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-right: 0;
  background-color: rgba(0, 0, 0, 0);
}
.login-area .form-group > .input-group > .form-control {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 0;
  background-color: rgba(0, 0, 0, 0);
}
.login-area .form-group > .input-group > .form-control:focus {
  box-shadow: none;
}
.login-area .form-group > .input-group.is-invalid > .input-group-prepend > .input-group-text {
  border-color: #dc3545;
  color: #dc3545;
}
.login-area .form-group > .input-group.is-invalid > .form-control {
  border-color: #dc3545;
}
.login-area .form-control,
.login-area .input-group-text,
.login-area .btn {
  border-radius: 0;
}
.form-check-container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}
.form-check-container > label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.form-check-container > label > input {
  width: 0;
  height: 0;
  opacity: 0;
}
.form-check-container > label > input ~ .checkmark {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check-container > label > input:checked ~ .checkmark {
  background-color: #3498db;
  border-color: #258cd1;
}
.form-check-container > label > input:checked ~ .checkmark:after {
  content: '\f00c';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 0.8rem;
  color: #ffffff;
}
.login-btn-area {
  margin-top: 1.5rem;
}
.login-btn-area > .btn {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-link-area {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.footer-link-area a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/*# sourceMappingURL=login.css.map */