@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.panel-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.panel-container > .header-section {
  background-color: #40485b;
}
.panel-container > .header-section > .top-nav {
  background-color: #40485b;
  display: flex;
  padding: 2px 0;
}
.panel-container > .header-section > .top-nav > .nav-logo {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 17%;
  flex: 0 0 17%;
  background-color: rgba(0, 0, 0, 0.4);
  border-right: 1px solid #556079;
}
.panel-container > .header-section > .top-nav > .nav-logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.panel-container > .header-section > .top-nav > .nav-logo > a > img {
  height: 30px;
}
.panel-container > .header-section > .top-nav > .nav-logo > a > i {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.panel-container > .header-section > .top-nav > .header-title {
  text-align: center;
  flex: 1;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
}
.panel-container > .header-section > .top-nav > .header-link-area {
  display: flex;
  padding-right: 10px;
}
.panel-container > .header-section > .top-nav > .header-link-area a.nav-field {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: calc(100% - 2px);
  padding: 8px 15px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  transition: all ease 0.3s;
}
.panel-container > .header-section > .top-nav > .header-link-area a.nav-field > i {
  font-size: 1.5rem;
}
.panel-container > .header-section > .top-nav > .header-link-area a.nav-field > span {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.panel-container > .header-section > .top-nav > .header-link-area a.nav-field:hover,
.panel-container > .header-section > .top-nav > .header-link-area a.nav-field.active {
  background-color: #FFFFFF;
  color: #40485b;
}
.panel-container > .monitor-section {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
.panel-container > .monitor-section > .alert-notifi {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-container > .monitor-section > .alert-notifi.hide {
  display: none;
}
.panel-container > .monitor-section > .alert-notifi > .notifi {
  display: flex;
  padding: 1rem 7rem 1rem 2rem;
  border: 1px solid #dddddd;
  align-items: center;
  position: relative;
}
.panel-container > .monitor-section > .alert-notifi > .notifi > i {
  font-size: 2.5rem;
  margin-right: 2rem;
}
.panel-container > .monitor-section > .alert-notifi > .notifi > .message {
  font-size: 0.9rem;
}
.panel-container > .monitor-section > .alert-notifi > .notifi > .message > span {
  display: block;
  font-size: 1.2rem;
  line-height: 1rem;
}
.panel-container > .monitor-section > .alert-notifi > .notifi > a.notification-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.panel-container > .monitor-section > .alert-notifi > .notifi.notifi-success {
  background-color: #2ecc71;
  border-color: #29b765;
  color: #fbfefc;
}
.panel-container > .monitor-section > .alert-notifi > .notifi.notifi-fail {
  background-color: #e74c3c;
  border-color: #e43725;
  color: #f8c9c4;
}
.panel-container > .monitor-section > .left-nav-section {
  width: 17%;
  flex: 0 0 17%;
  margin-left: 0;
  border-right: 1px solid #dddddd;
  overflow: hidden;
  transition: all ease-out 0.3s;
}
.panel-container > .monitor-section > .content-section {
  width: 83%;
  flex: 0 0 83%;
  transition: all ease-out 0.3s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel-container > .monitor-section > .content-section > .__content-wrapper {
  flex: 1;
  margin-bottom: 31px;
  padding: 1rem;
  max-height: 100%;
  overflow: auto;
}
.panel-container > .monitor-section > .footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
  z-index: 3000;
  background-color: #333333;
  padding: 7px 30px;
  border-radius: 5px 5px 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.panel-container > .monitor-section > .footer > span {
  font-weight: 700;
}
.panel-container > .monitor-section > .footer > a {
  font-weight: 700;
  color: #cccccc;
  margin: 0 0 0 1rem;
}
.panel-container > .monitor-section.hidden-menu > .left-nav-section {
  margin-left: -17%;
}
.panel-container > .monitor-section.hidden-menu > .content-section {
  width: 100%;
  flex: 0 0 100%;
}
.main-nav {
  font-family: 'Raleway', sans-serif;
}
.main-nav > .dashboard-title {
  display: block;
  color: #FFFFFF;
  background-color: #3ebfbe;
  padding: 10px 20px 10px 30px;
}
.main-nav > ul.sidebar > li {
  border-bottom: 1px solid #dddddd;
}
.main-nav > ul.sidebar > li > a {
  display: block;
  padding: 8px 20px 8px 30px;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
  position: relative;
  z-index: 1;
}
.main-nav > ul.sidebar > li > a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0.025);
  transform-origin: 0;
  z-index: -1;
  transition: all ease 0.3s;
}
.main-nav > ul.sidebar > li > a:hover {
  color: #FFFFFF;
}
.main-nav > ul.sidebar > li > a:hover:after {
  transform: scaleX(1);
}
.main-nav > ul.sidebar > li > a.red:after {
  background-color: #fb6b5b;
}
.main-nav > ul.sidebar > li > a.green:after {
  background-color: #8ec165;
}
.main-nav > ul.sidebar > li > a.yellow:after {
  background-color: #f5b259;
}
.main-nav > ul.sidebar > li > a.turquoise:after {
  background-color: #3ebfbe;
}
.main-nav > ul.sidebar > li > a.purple:after {
  background-color: #8e44ad;
}
.main-nav > ul.sidebar > li > a.active {
  color: #FFFFFF;
}
.main-nav > ul.sidebar > li > a.active:after {
  transform: scaleX(1);
}
ul.directory {
  padding: calc(0.5rem - 1px) 1rem 0 1rem;
  margin: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #f2f2f2;
}
ul.directory > li {
  position: relative;
}
ul.directory > li > a {
  padding: 5px 15px;
}
ul.directory > li:first-child > a {
  padding-top: 0;
  padding-left: 0;
  font-size: 21px;
  font-weight: 500;
}
ul.directory > li:after {
  content: '\f054';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  left: 100%;
  top: 5px;
}
ul.directory > li:last-child:after {
  content: '';
}
.card-header-min {
  padding: 0.4rem 1.25rem;
  display: flex;
  align-items: center;
}
.card-header-min > h2 {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}
.card-header-min > .btn {
  margin-left: auto;
  padding: 0.2rem 0.75rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.card-header-min > .card-header-actions {
  margin-left: auto;
}
.card-header-min > .card-header-actions > .btn {
  padding: 0.2rem 0.75rem;
  font-size: 1.5rem;
  border: 0;
  border-radius: 0;
}
.with-no-radius {
  border-radius: 0;
}
/*# sourceMappingURL=main.css.map */