@import (css) url('https://fonts.googleapis.com/css?family=Mallanna');
@import (css) url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import (css) url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,500,700,700i');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "lib";

@sidebar-padding: 10px 20px 10px 30px;
@top-nav-height: 45px;
@leftSectionWidth: 17%;
@contentSectionWidth: 83%;
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: @font-Raleway;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.panel-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  > .header-section {
    background-color: @color-dark-blue;

    > .top-nav {
      background-color: @color-dark-blue;
      display: flex;
      padding: 2px 0;

      > .nav-logo {
        margin-top: 2px;
        margin-bottom: 2px;
        width: @leftSectionWidth;
        flex: 0 0 @leftSectionWidth;
        background-color: rgba(0, 0, 0, .4);
        border-right: 1px solid lighten(@color-dark-blue, 10%);

        > a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;

          > img {
            height: 30px;
          }

          > i {
            font-size: 1.5rem;
            margin-left: 1rem;
            margin-top: .5rem;
          }
        }
      }

      > .header-title {
        text-align: center;
        flex: 1;
        color: #ffffff;
        font-family: @font-lato;
        font-size: 1.3rem;
      }

      > .header-link-area {
        display: flex;
        padding-right: 10px;

        a.nav-field {
          display: flex;
          align-items: center;
          cursor: pointer;
          height: calc(100% - 2px);
          padding: 8px 15px;
          color: #FFFFFF;
          background-color: rgba(0, 0, 0, 0);
          font-size: 1rem;
          transition: all ease .3s;

          > i {
            font-size: 1.5rem;
          }

          > span {
            font-family: @font-lato;
            font-size: 15px;
          }

          &:hover, &.active {
            background-color: #FFFFFF;
            color: @color-dark-blue;
          }
        }
      }
    }
  }

  > .monitor-section {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;

    > .alert-notifi {
      position: absolute;
      background-color: rgba(0, 0, 0, .4);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;

      &.hide {
        display: none;
      }

      > .notifi {
        display: flex;
        padding: 1rem 7rem 1rem 2rem;
        border: 1px solid #dddddd;
        align-items: center;
        position: relative;

        > i {
          font-size: 2.5rem;
          margin-right: 2rem;
        }

        > .message {
          font-size: .9rem;

          > span {
            display: block;
            font-size: 1.2rem;
            line-height: 1rem;
          }
        }

        > a.notification-close {
          position: absolute;
          right: .5rem;
          top: .5rem;
          width: 25px;
          height: 25px;
          background-color: rgba(0, 0, 0, .1);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }

        &.notifi-success {
          background-color: @colorEmerald;
          border-color: darken(@colorEmerald, 5%);
          color: lighten(@colorEmerald, 50%);
        }

        &.notifi-fail {
          background-color: @colorAlizarin;
          border-color: darken(@colorAlizarin, 5%);
          color: lighten(@colorAlizarin, 30%);
        }
      }
    }

    > .left-nav-section {
      width: @leftSectionWidth;
      flex: 0 0 @leftSectionWidth;
      margin-left: 0;
      border-right: 1px solid @color-grey;
      overflow: hidden;
      transition: all ease-out .3s;
    }

    > .content-section {
      width: @contentSectionWidth;
      flex: 0 0 @contentSectionWidth;
      transition: all ease-out .3s;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      > .__content-wrapper {
        flex: 1;
        margin-bottom: 31px;
        padding: 1rem;
        max-height: 100%;
        overflow: auto;

        > .__content {
          //max-height: 100%;
          //overflow: auto;
        }
      }
    }

    > .footer {
      position: absolute;
      bottom: 0;
      width: 90%;
      left: 5%;
      z-index: 3000;
      background-color: lighten(#000000, 20%);
      //text-align: center;
      padding: 7px 30px;
      border-radius: 5px 5px 0 0;
      font-family: @font-lato;
      font-size: 13px;
      line-height: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;

      > span {
        font-weight: 700;
      }

      > a {
        font-weight: 700;
        color: darken(#ffffff, 20%);
        margin: 0 0 0 1rem;
      }
    }

    &.hidden-menu {
      > .left-nav-section {
        margin-left: -@leftSectionWidth;
      }

      > .content-section {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}

.main-nav {
  font-family: @font-Raleway;

  > .dashboard-title {
    display: block;
    color: #FFFFFF;
    background-color: @color-turquoise;
    padding: 10px 20px 10px 30px;
  }

  > ul.sidebar {
    > li {
      border-bottom: 1px solid @primaryBorderColor;

      > a {
        display: block;
        padding: 8px 20px 8px 30px;
        font-weight: 500;
        font-size: .9rem;
        color: #000000;
        position: relative;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transform: scaleX(.025);
          transform-origin: 0;
          z-index: -1;
          transition: all ease .3s;
        }

        &:hover {
          color: #FFFFFF;

          &:after {
            transform: scaleX(1);
          }
        }

        .sidebarColor(red, @color-red-sidebar);
        .sidebarColor(green, @color-green-sidebar);
        .sidebarColor(yellow, @color-yellow-sidebar);
        .sidebarColor(turquoise, @color-turquoise-sidebar);
        .sidebarColor(purple, @color-purple-sidebar);

        &.active {
          color: #FFFFFF;
          &:after{
            transform: scaleX(1);
          }
        }
      }
    }

  }
}

ul.directory {
  padding: calc(.5rem - 1px) 1rem 0 1rem;
  margin: 0;
  background-color: lighten(#000000, 97%);
  border-bottom: 1px solid lighten(#000000, 95%);

  > li {
    position: relative;

    > a {
      padding: 5px 15px;
    }

    &:first-child {
      > a {
        padding-top: 0;
        padding-left: 0;
        font-size: 21px;
        font-weight: 500;
      }
    }

    &:after {
      .symbolsAfter(f054, 5px);
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.card-header-min {
  padding: .4rem 1.25rem;
  display: flex;
  align-items: center;

  > h2 {
    font-size: 1.5rem;
    font-family: @font-lato;
  }

  > .btn {
    margin-left: auto;
    padding: .2rem .75rem;
    font-weight: 700;
    font-family: @font-lato;
  }

  > .card-header-actions {
    margin-left: auto;

    > .btn {
      padding: .2rem .75rem;
      font-size: 1.5rem;
      border: 0;
      border-radius: 0;
      //color: #000000;
    }
  }
}

.with-no-radius {
  border-radius: 0;
}