@import "lib";

.dashboard-shortcut-wrapper {
  margin-top: 10px;

  & .dashboard-shortcut {
    //background-color: @color-red-sidebar;
    color: #FFFFFF;
    padding: 15px 15px 60px 15px;
    position: relative;
    font-family: @font-lato;
    font-size: 14px;
    cursor: pointer;

    > span.number {
      display: block;
      font-size: 38px;
      font-family: @font-lato;
      font-weight: 900;

    }

    > i {
      position: absolute;
      right: 10%;
      top: 10%;
      font-size: 100px;
      color: rgba(0, 0, 0, .4);
    }

    > .dashboard-ref-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 6px 3px;
      background-color: rgba(0, 0, 0, .4);

      > a {
        font-family: @font-Roboto;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          color: inherit;
        }

        > i {
          font-size: 1.2rem;
        }
      }


    }

    &.red {
      background-color: @color-red-sidebar;
    }

    &.green {
      background-color: @color-green-sidebar;
    }

    &.yellow {
      background-color: @color-yellow-sidebar;
    }

    &.turquoise {
      background-color: @color-turquoise-sidebar;
    }
  }
}
.last-orders {
  font-family: @font-lato;

  > h1 {
    font-size: 19px;
  }

  > table.table {
    font-size: 15px;

    & td, & th {
      padding: 5px 10px;
    }

    .btn {
      font-size: 12px;
      padding: 2px 10px;
    }
  }
}
.most-product {
  margin-top: 20px;
  font-family: @font-lato;

  & h2 {
    font-size: 20px;
    margin: 0;

    & > span {
      margin-left: 20px;
      color: #e74c3c;
      font-weight: 500;
    }
  }
}