.dashboard-shortcut-wrapper {
  margin-top: 10px;
}
.dashboard-shortcut-wrapper .dashboard-shortcut {
  color: #FFFFFF;
  padding: 15px 15px 60px 15px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.dashboard-shortcut-wrapper .dashboard-shortcut > span.number {
  display: block;
  font-size: 38px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.dashboard-shortcut-wrapper .dashboard-shortcut > i {
  position: absolute;
  right: 10%;
  top: 10%;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.4);
}
.dashboard-shortcut-wrapper .dashboard-shortcut > .dashboard-ref-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 6px 3px;
  background-color: rgba(0, 0, 0, 0.4);
}
.dashboard-shortcut-wrapper .dashboard-shortcut > .dashboard-ref-footer > a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-shortcut-wrapper .dashboard-shortcut > .dashboard-ref-footer > a:hover {
  color: inherit;
}
.dashboard-shortcut-wrapper .dashboard-shortcut > .dashboard-ref-footer > a > i {
  font-size: 1.2rem;
}
.dashboard-shortcut-wrapper .dashboard-shortcut.red {
  background-color: #fb6b5b;
}
.dashboard-shortcut-wrapper .dashboard-shortcut.green {
  background-color: #8ec165;
}
.dashboard-shortcut-wrapper .dashboard-shortcut.yellow {
  background-color: #f5b259;
}
.dashboard-shortcut-wrapper .dashboard-shortcut.turquoise {
  background-color: #3ebfbe;
}
.last-orders {
  font-family: 'Lato', sans-serif;
}
.last-orders > h1 {
  font-size: 19px;
}
.last-orders > table.table {
  font-size: 15px;
}
.last-orders > table.table td,
.last-orders > table.table th {
  padding: 5px 10px;
}
.last-orders > table.table .btn {
  font-size: 12px;
  padding: 2px 10px;
}
.most-product {
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
}
.most-product h2 {
  font-size: 20px;
  margin: 0;
}
.most-product h2 > span {
  margin-left: 20px;
  color: #e74c3c;
  font-weight: 500;
}
/*# sourceMappingURL=welcome.css.map */